In [2]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [3]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [4]:
movies = pd.read_csv('Movie+Assignment+Data.csv')
movies

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [5]:
#column inspection
movies.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [6]:
#number of rows
OriginalLen = len(movies.index)

In [7]:
#shape inspection
movies.shape

(5043, 28)

In [8]:
#data type, null-value column inspection
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [9]:
#getting statistical information of numeric value columns
movies.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [10]:
#code for column-wise null count here
movies.isnull().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [11]:
# Write your code for row-wise null count here

for i in range(len(movies.index)) :
    print("row ", i , " : " ,  movies.iloc[i].isnull().sum())

row  0  :  0
row  1  :  0
row  2  :  0
row  3  :  0
row  4  :  14
row  5  :  0
row  6  :  0
row  7  :  0
row  8  :  0
row  9  :  0
row  10  :  0
row  11  :  0
row  12  :  0
row  13  :  0
row  14  :  0
row  15  :  0
row  16  :  0
row  17  :  0
row  18  :  0
row  19  :  0
row  20  :  0
row  21  :  0
row  22  :  0
row  23  :  0
row  24  :  0
row  25  :  0
row  26  :  0
row  27  :  0
row  28  :  0
row  29  :  0
row  30  :  0
row  31  :  0
row  32  :  0
row  33  :  0
row  34  :  0
row  35  :  0
row  36  :  0
row  37  :  0
row  38  :  0
row  39  :  0
row  40  :  0
row  41  :  0
row  42  :  0
row  43  :  0
row  44  :  0
row  45  :  0
row  46  :  0
row  47  :  0
row  48  :  0
row  49  :  0
row  50  :  0
row  51  :  0
row  52  :  0
row  53  :  0
row  54  :  0
row  55  :  1
row  56  :  0
row  57  :  0
row  58  :  0
row  59  :  0
row  60  :  0
row  61  :  0
row  62  :  0
row  63  :  0
row  64  :  0
row  65  :  0
row  66  :  0
row  67  :  0
row  68  :  0
row  69  :  0
row  70  :  0
row  71  :  0
row  72  :  0
row  73  :  0
row  74  :  0
row  75  :  0
row  76  :  0
row  77  :  0
row  78  :  0
row  79  :  0
row  80  :  0
row  81  :  0
row  82  :  0
row  83  :  0
row  84  :  3
row  85  :  0
row  86  :  0
row  87  :  0
row  88  :  0
row  89  :  0
row  90  :  0
row  91  :  0
row  92  :  0
row  93  :  0
row  94  :  0
row  95  :  0
row  96  :  0
row  97  :  0
row  98  :  3
row  99  :  1
row  100  :  0
row  101  :  0
row  102  :  0
row  103  :  0
row  104  :  0
row  105  :  0
row  106  :  0
row  107  :  0
row  108  :  0
row  109  :  0
row  110  :  0
row  111  :  0
row  112  :  0
row  113  :  0
row  114  :  0
row  115  :  0
row  116  :  0
row  117  :  0
row  118  :  0
row  119  :  0
row  120  :  0
row  121  :  0
row  122  :  0
row  123  :  0
row  124  :  0
row  125  :  0
row  126  :  0
row  127  :  0
row  128  :  0
row  129  :  0
row  130  :  0
row  131  :  0
row  132  :  0
row  133  :  0
row  134  :  0
row  135  :  0
row  136  :  0
row  137  :  0
row  138  :  0
row  139  :  0
row  140  :  0
row  141  :  0
row  142  :  0
row  143  :  0
row  144  :  0
row  145  :  0
row  146  :  0
row  147  :  0
row  148  :  0
row  149  :  0
row  150  :  0
row  151  :  0
row  152  :  0
row  153  :  0
row  154  :  0
row  155  :  0
row  156  :  0
row  157  :  0
row  158  :  0
row  159  :  0
row  160  :  0
row  161  :  0
row  162  :  0
row  163  :  0
row  164  :  0
row  165  :  0
row  166  :  0
row  167  :  0
row  168  :  0
row  169  :  0
row  170  :  0
row  171  :  0
row  172  :  0
row  173  :  0
row  174  :  0
row  175  :  0
row  176  :  0
row  177  :  4
row  178  :  0
row  179  :  0
row  180  :  0
row  181  :  0
row  182  :  0
row  183  :  0
row  184  :  0
row  185  :  0
row  186  :  0
row  187  :  0
row  188  :  0
row  189  :  0
row  190  :  0
row  191  :  0
row  192  :  0
row  193  :  0
row  194  :  0
row  195  :  0
row  196  :  0
row  197  :  0
row  198  :  0
row  199  :  6
row  200  :  0
row  201  :  0
row  202  :  0
row  203  :  0
row  204  :  3
row  205  :  0
row  206  :  6
row  207  :  0
row  208  :  0
row  209  :  0
row  210  :  0
row  211  :  0
row  212  :  0
row  213  :  0
row  214  :  0
row  215  :  0
row  216  :  0
row  217  :  0
row  218  :  0
row  219  :  0
row  220  :  0
row  221  :  0
row  222  :  0
row  223  :  0
row  224  :  0
row  225  :  0
row  226  :  0
row  227  :  0
row  228  :  0
row  229  :  0
row  230  :  0
row  231  :  0
row  232  :  0
row  233  :  0
row  234  :  0
row  235  :  0
row  236  :  0
row  237  :  0
row  238  :  0
row  239  :  0
row  240  :  0
row  241  :  0
row  242  :  2
row  243  :  0
row  244  :  0
row  245  :  0
row  246  :  0
row  247  :  0
row  248  :  1
row  249  :  0
row  250  :  0
row  251  :  0
row  252  :  0
row  253  :  0
row  254  :  0
row  255  :  0
row  256  :  0
row  257  :  0
row  258  :  0
row  259  :  0
row  260  :  5
row  261  :  0
row  262  :  0
row  263  :  0
row  264  :  0
row  265  :  0
row  266  :  0
row  267  :  0
row  268  :  0
row  269  :  0
row  270  :  0
row  271  :  0
row  272  :  0
row  273  :  0
row  274  :  0
row  275  :  0
row  276  :  0
row  277  :  0
row  278  :  0
row  279  :  15
row  280  :  0
row  281  :  0
row  282  :  0
row  283  :  0
row  284  :  0
row  285  :  0
row  286  :  0
row  287  :  0
row  288  :  0
row  289  :  0
row  290  :  0
row  291  :  0
row  292  :  0
row  293  :  0
row  294  :  0
row  295  :  0
row  296  :  0
row  297  :  0
row  298  :  0
row  299  :  0
row  300  :  0
row  301  :  0
row  302  :  0
row  303  :  0
row  304  :  0
row  305  :  0
row  306  :  0
row  307  :  0
row  308  :  0
row  309  :  0
row  310  :  0
row  311  :  0
row  312  :  0
row  313  :  0
row  314  :  0
row  315  :  0
row  316  :  0
row  317  :  0
row  318  :  0
row  319  :  0
row  320  :  0
row  321  :  0
row  322  :  0
row  323  :  0
row  324  :  0
row  325  :  0
row  326  :  0
row  327  :  0
row  328  :  0
row  329  :  0
row  330  :  0
row  331  :  0
row  332  :  0
row  333  :  0
row  334  :  0
row  335  :  0
row  336  :  0
row  337  :  0
row  338  :  0
row  339  :  0
row  340  :  0
row  341  :  0
row  342  :  0
row  343  :  0
row  344  :  0
row  345  :  0
row  346  :  0
row  347  :  0
row  348  :  0
row  349  :  0
row  350  :  0
row  351  :  0
row  352  :  0
row  353  :  0
row  354  :  0
row  355  :  0
row  356  :  0
row  357  :  0
row  358  :  0
row  359  :  0
row  360  :  0
row  361  :  0
row  362  :  0
row  363  :  0
row  364  :  0
row  365  :  0
row  366  :  0
row  367  :  3
row  368  :  0
row  369  :  0
row  370  :  0
row  371  :  0
row  372  :  0
row  373  :  0
row  374  :  0
row  375  :  0
row  376  :  0
row  377  :  0
row  378  :  0
row  379  :  0
row  380  :  0
row  381  :  0
row  382  :  0
row  383  :  0
row  384  :  0
row  385  :  0
row  386  :  0
row  387  :  0
row  388  :  0
row  389  :  0
row  390  :  0
row  391  :  0
row  392  :  0
row  393  :  0
row  394  :  0
row  395  :  0
row  396  :  0
row  397  :  0
row  398  :  0
row  399  :  0
row  400  :  0
row  401  :  0
row  402  :  0
row  403  :  0
row  404  :  5
row  405  :  0
row  406  :  0
row  407  :  0
row  408  :  0
row  409  :  0
row  410  :  0
row  411  :  0
row  412  :  0
row  413  :  0
row  414  :  0
row  415  :  0
row  416  :  0
row  417  :  0
row  418  :  0
row  419  :  0
row  420  :  0
row  421  :  0
row  422  :  2
row  423  :  0
row  424  :  0
row  425  :  0
row  426  :  0
row  427  :  0
row  428  :  0
row  429  :  0
row  430  :  1
row  431  :  0
row  432  :  0
row  433  :  0
row  434  :  0
row  435  :  0
row  436  :  0
row  437  :  0
row  438  :  0
row  439  :  0
row  440  :  0
row  441  :  0
row  442  :  0
row  443  :  0
row  444  :  1
row  445  :  0
row  446  :  0
row  447  :  0
row  448  :  0
row  449  :  0
row  450  :  0
row  451  :  0
row  452  :  0
row  453  :  0
row  454  :  0
row  455  :  0
row  456  :  0
row  457  :  0
row  458  :  0
row  459  :  6
row  460  :  0
row  461  :  0
row  462  :  0
row  463  :  0
row  464  :  0
row  465  :  0
row  466  :  0
row  467  :  0
row  468  :  0
row  469  :  0
row  470  :  0
row  471  :  0
row  472  :  0
row  473  :  0
row  474  :  0
row  475  :  0
row  476  :  0
row  477  :  1
row  478  :  0
row  479  :  5
row  480  :  0
row  481  :  0
row  482  :  0
row  483  :  0
row  484  :  0
row  485  :  0
row  486  :  0
row  487  :  0
row  488  :  0
row  489  :  3
row  490  :  1
row  491  :  0
row  492  :  0
row  493  :  0
row  494  :  0
row  495  :  0
row  496  :  0
row  497  :  0
row  498  :  0
row  499  :  0
row  500  :  0
row  501  :  0
row  502  :  0
row  503  :  0
row  504  :  0
row  505  :  0
row  506  :  0
row  507  :  3
row  508  :  0
row  509  :  0
row  510  :  0
row  511  :  0
row  512  :  0
row  513  :  0
row  514  :  0
row  515  :  0
row  516  :  0
row  517  :  0
row  518  :  0
row  519  :  0
row  520  :  0
row  521  :  0
row  522  :  0
row  523  :  0
row  524  :  0
row  525  :  0
row  526  :  0
row  527  :  0
row  528  :  0
row  529  :  0
row  530  :  0
row  531  :  0
row  532  :  0
row  533  :  0
row  534  :  0
row  535  :  0
row  536  :  0
row  537  :  5
row  538  :  0
row  539  :  0
row  540  :  0
row  541  :  0
row  542  :  0
row  543  :  7
row  544  :  0
row  545  :  0
row  546  :  0
row  547  :  0
row  548  :  0
row  549  :  0
row  550  :  0
row  551  :  0
row  552  :  0
row  553  :  0
row  554  :  0
row  555  :  0
row  556  :  0
row  557  :  0
row  558  :  0
row  559  :  1
row  560  :  0
row  561  :  0
row  562  :  0
row  563  :  0
row  564  :  0
row  565  :  0
row  566  :  0
row  567  :  0
row  568  :  0
row  569  :  0
row  570  :  0
row  571  :  0
row  572  :  0
row  573  :  0
row  574  :  0
row  575  :  0
row  576  :  0
row  577  :  0
row  578  :  0
row  579  :  0
row  580  :  0
row  581  :  0
row  582  :  0
row  583  :  0
row  584  :  0
row  585  :  0
row  586  :  0
row  587  :  0
row  588  :  0
row  589  :  0
row  590  :  0
row  591  :  0
row  592  :  0
row  593  :  5
row  594  :  0
row  595  :  0

row  596  :  0
row  597  :  0
row  598  :  0
row  599  :  0
row  600  :  0
row  601  :  0
row  602  :  0
row  603  :  0
row  604  :  0
row  605  :  0
row  606  :  0
row  607  :  0
row  608  :  0
row  609  :  0
row  610  :  0
row  611  :  0
row  612  :  0
row  613  :  0
row  614  :  0
row  615  :  0
row  616  :  0
row  617  :  0
row  618  :  0
row  619  :  0
row  620  :  0
row  621  :  0
row  622  :  0
row  623  :  0
row  624  :  1
row  625  :  0
row  626  :  0
row  627  :  0
row  628  :  0
row  629  :  0
row  630  :  0
row  631  :  0
row  632  :  0
row  633  :  0
row  634  :  0
row  635  :  0
row  636  :  0
row  637  :  0
row  638  :  0
row  639  :  0
row  640  :  1
row  641  :  0
row  642  :  1
row  643  :  0
row  644  :  0
row  645  :  5
row  646  :  0
row  647  :  0
row  648  :  0
row  649  :  0
row  650  :  0
row  651  :  0
row  652  :  0
row  653  :  0
row  654  :  0
row  655  :  0
row  656  :  0
row  657  :  0
row  658  :  0
row  659  :  0
row  660  :  0
row  661  :  0
row  662  :  0
row  663  :  0
row  664  :  0
row  665  :  0
row  666  :  0
row  667  :  0
row  668  :  0
row  669  :  0
row  670  :  0
row  671  :  0
row  672  :  0
row  673  :  0
row  674  :  0
row  675  :  0
row  676  :  1
row  677  :  0
row  678  :  0
row  679  :  0
row  680  :  0
row  681  :  0
row  682  :  0
row  683  :  0
row  684  :  0
row  685  :  7
row  686  :  0
row  687  :  0
row  688  :  0
row  689  :  0
row  690  :  0
row  691  :  0
row  692  :  0
row  693  :  0
row  694  :  0
row  695  :  0
row  696  :  0
row  697  :  0
row  698  :  0
row  699  :  0
row  700  :  0
row  701  :  0
row  702  :  0
row  703  :  0
row  704  :  0
row  705  :  0
row  706  :  0
row  707  :  0
row  708  :  0
row  709  :  0
row  710  :  0
row  711  :  0
row  712  :  0
row  713  :  1
row  714  :  0
row  715  :  0
row  716  :  0
row  717  :  0
row  718  :  0
row  719  :  0
row  720  :  0
row  721  :  0
row  722  :  0
row  723  :  0
row  724  :  0
row  725  :  0
row  726  :  0
row  727  :  0
row  728  :  0
row  729  :  0
row  730  :  0
row  731  :  0
row  732  :  0
row  733  :  0
row  734  :  0
row  735  :  0
row  736  :  0
row  737  :  0
row  738  :  0
row  739  :  0
row  740  :  0
row  741  :  0
row  742  :  0
row  743  :  0
row  744  :  0
row  745  :  0
row  746  :  0
row  747  :  0
row  748  :  0
row  749  :  0
row  750  :  0
row  751  :  0
row  752  :  0
row  753  :  0
row  754  :  0
row  755  :  0
row  756  :  0
row  757  :  5
row  758  :  0
row  759  :  0
row  760  :  0
row  761  :  0
row  762  :  0
row  763  :  0
row  764  :  0
row  765  :  0
row  766  :  0
row  767  :  0
row  768  :  0
row  769  :  0
row  770  :  0
row  771  :  0
row  772  :  0
row  773  :  1
row  774  :  0
row  775  :  0
row  776  :  0
row  777  :  0
row  778  :  0
row  779  :  0
row  780  :  1
row  781  :  0
row  782  :  0
row  783  :  0
row  784  :  0
row  785  :  0
row  786  :  0
row  787  :  0
row  788  :  0
row  789  :  1
row  790  :  0
row  791  :  0
row  792  :  0
row  793  :  0
row  794  :  0
row  795  :  0
row  796  :  0
row  797  :  0
row  798  :  0
row  799  :  0
row  800  :  0
row  801  :  0
row  802  :  0
row  803  :  0
row  804  :  0
row  805  :  0
row  806  :  0
row  807  :  0
row  808  :  0
row  809  :  0
row  810  :  2
row  811  :  0
row  812  :  0
row  813  :  0
row  814  :  0
row  815  :  0
row  816  :  4
row  817  :  0
row  818  :  0
row  819  :  0
row  820  :  0
row  821  :  2
row  822  :  0
row  823  :  0
row  824  :  0
row  825  :  0
row  826  :  5
row  827  :  0
row  828  :  0
row  829  :  0
row  830  :  0
row  831  :  0
row  832  :  0
row  833  :  6
row  834  :  0
row  835  :  0
row  836  :  0
row  837  :  0
row  838  :  0
row  839  :  0
row  840  :  0
row  841  :  0
row  842  :  0
row  843  :  0
row  844  :  0
row  845  :  0
row  846  :  0
row  847  :  0
row  848  :  0
row  849  :  0
row  850  :  0
row  851  :  0
row  852  :  0
row  853  :  0
row  854  :  0
row  855  :  0
row  856  :  0
row  857  :  4
row  858  :  0
row  859  :  0
row  860  :  0
row  861  :  0
row  862  :  0
row  863  :  0
row  864  :  0
row  865  :  0
row  866  :  0
row  867  :  0
row  868  :  0
row  869  :  0
row  870  :  0
row  871  :  0
row  872  :  0
row  873  :  0
row  874  :  0
row  875  :  0
row  876  :  0
row  877  :  0
row  878  :  0
row  879  :  0
row  880  :  0
row  881  :  0
row  882  :  0
row  883  :  0
row  884  :  0
row  885  :  0
row  886  :  0
row  887  :  0
row  888  :  0
row  889  :  0
row  890  :  1
row  891  :  1
row  892  :  0
row  893  :  0
row  894  :  0
row  895  :  0
row  896  :  0
row  897  :  0
row  898  :  0
row  899  :  0
row  900  :  0
row  901  :  0
row  902  :  0
row  903  :  0
row  904  :  0
row  905  :  0
row  906  :  0
row  907  :  0
row  908  :  0
row  909  :  0
row  910  :  0
row  911  :  0
row  912  :  0
row  913  :  0
row  914  :  0
row  915  :  0
row  916  :  0
row  917  :  0
row  918  :  0
row  919  :  0
row  920  :  0
row  921  :  0
row  922  :  0
row  923  :  0
row  924  :  0
row  925  :  1
row  926  :  0
row  927  :  0
row  928  :  0
row  929  :  0
row  930  :  0
row  931  :  0
row  932  :  0
row  933  :  0
row  934  :  0
row  935  :  0
row  936  :  0
row  937  :  0
row  938  :  0
row  939  :  0
row  940  :  0
row  941  :  0
row  942  :  0
row  943  :  0
row  944  :  0
row  945  :  0
row  946  :  0
row  947  :  0
row  948  :  0
row  949  :  1
row  950  :  0
row  951  :  0
row  952  :  1
row  953  :  0
row  954  :  0
row  955  :  0
row  956  :  0
row  957  :  0
row  958  :  0
row  959  :  0
row  960  :  0
row  961  :  0
row  962  :  8
row  963  :  0
row  964  :  0
row  965  :  0
row  966  :  0
row  967  :  0
row  968  :  0
row  969  :  0
row  970  :  0
row  971  :  0
row  972  :  0
row  973  :  0
row  974  :  0
row  975  :  0
row  976  :  0
row  977  :  0
row  978  :  0
row  979  :  0
row  980  :  0
row  981  :  0
row  982  :  0
row  983  :  0
row  984  :  0
row  985  :  0
row  986  :  0
row  987  :  0
row  988  :  0
row  989  :  0
row  990  :  0
row  991  :  0
row  992  :  0
row  993  :  0
row  994  :  6
row  995  :  0
row  996  :  0
row  997  :  0
row  998  :  0
row  999  :  0
row  1000  :  0
row  1001  :  0
row  1002  :  0
row  1003  :  0
row  1004  :  0
row  1005  :  0
row  1006  :  0
row  1007  :  7
row  1008  :  0
row  1009  :  0
row  1010  :  0
row  1011  :  0
row  1012  :  0
row  1013  :  0
row  1014  :  0
row  1015  :  0
row  1016  :  0
row  1017  :  0
row  1018  :  0
row  1019  :  0
row  1020  :  0
row  1021  :  0
row  1022  :  0
row  1023  :  5
row  1024  :  0
row  1025  :  0
row  1026  :  0
row  1027  :  0
row  1028  :  0
row  1029  :  0
row  1030  :  0
row  1031  :  0
row  1032  :  0
row  1033  :  0
row  1034  :  0
row  1035  :  5
row  1036  :  0
row  1037  :  1
row  1038  :  0
row  1039  :  0
row  1040  :  1
row  1041  :  0
row  1042  :  0
row  1043  :  0
row  1044  :  2
row  1045  :  0
row  1046  :  0
row  1047  :  0
row  1048  :  0
row  1049  :  0
row  1050  :  0
row  1051  :  0
row  1052  :  0
row  1053  :  0
row  1054  :  0
row  1055  :  0
row  1056  :  2
row  1057  :  0
row  1058  :  0
row  1059  :  0
row  1060  :  1
row  1061  :  1
row  1062  :  0
row  1063  :  0
row  1064  :  0
row  1065  :  0
row  1066  :  0
row  1067  :  0
row  1068  :  0
row  1069  :  0
row  1070  :  0
row  1071  :  1
row  1072  :  1
row  1073  :  0
row  1074  :  0
row  1075  :  0
row  1076  :  0
row  1077  :  0
row  1078  :  0
row  1079  :  0
row  1080  :  0
row  1081  :  0
row  1082  :  0
row  1083  :  0
row  1084  :  0
row  1085  :  0
row  1086  :  0
row  1087  :  0
row  1088  :  0
row  1089  :  0
row  1090  :  0
row  1091  :  0
row  1092  :  0
row  1093  :  0
row  1094  :  0
row  1095  :  0
row  1096  :  0
row  1097  :  0
row  1098  :  0
row  1099  :  1
row  1100  :  0
row  1101  :  0
row  1102  :  0
row  1103  :  0
row  1104  :  0
row  1105  :  0
row  1106  :  0
row  1107  :  0
row  1108  :  0
row  1109  :  0
row  1110  :  0
row  1111  :  0
row  1112  :  0
row  1113  :  0
row  1114  :  0
row  1115  :  0
row  1116  :  0
row  1117  :  0
row  1118  :  0
row  1119  :  0
row  1120  :  0
row  1121  :  0
row  1122  :  0
row  1123  :  0
row  1124  :  0
row  1125  :  0
row  1126  :  0
row  1127  :  0
row  1128  :  0
row  1129  :  0
row  1130  :  0
row  1131  :  0
row  1132  :  0
row  1133  :  5
row  1134  :  0
row  1135  :  0
row  1136  :  2
row  1137  :  0
row  1138  :  0
row  1139  :  0
row  1140  :  0
row  1141  :  0
row  1142  :  0
row  1143  :  0
row  1144  :  0
row  1145  :  0
row  1146  :  0
row  1147  :  0
row  1148  :  0
row  1149  :  0
row  1150  :  0
row  1151  :  0
row  1152  :  0
row  1153  :  0
row  1154  :  0
row  1155  :  0
row  1156  :  0
row  1157  :  0
row  1158  :  0
row  1159  :  0
row  1160  :  0
row  1161  :  0
row  1162  :  0
row  1163  :  0
row  1164  :  0
row  1165  :  0
row  1166  :  0
row  1167  :  0
row  1168  :  0
row  1169  :  0
row  1170  :  0
row  1171  :  0
row  1172  :  0
row  1173  :  0
row  1174  :  0
row  1175  :  5
row  1176  :  0
row  1177  :  0
row  1178  :  4
row  1179  :  0
row  1180  :  0
row  1181  :  0
row  1182  :  0
row  1183  :  0
row  1184  :  0
row  1185  :  0
row  1186  :  0
row  1187  :  0
row  1188  :  0
row  1189  :  0
row  1190  :  0
row  1191  :  0
row  1192  :  0
row  1193  :  0
row  1194  :  0
row  1195  :  0
row  1196  :  0

row  1197  :  0
row  1198  :  0
row  1199  :  0
row  1200  :  0
row  1201  :  0
row  1202  :  0
row  1203  :  0
row  1204  :  0
row  1205  :  0
row  1206  :  0
row  1207  :  0
row  1208  :  0
row  1209  :  0
row  1210  :  0
row  1211  :  0
row  1212  :  0
row  1213  :  0
row  1214  :  0
row  1215  :  0
row  1216  :  0
row  1217  :  0
row  1218  :  0
row  1219  :  0
row  1220  :  0
row  1221  :  0
row  1222  :  0
row  1223  :  0
row  1224  :  0
row  1225  :  0
row  1226  :  1
row  1227  :  0
row  1228  :  0
row  1229  :  0
row  1230  :  0
row  1231  :  0
row  1232  :  0
row  1233  :  0
row  1234  :  0
row  1235  :  0
row  1236  :  0
row  1237  :  0
row  1238  :  0
row  1239  :  0
row  1240  :  0
row  1241  :  0
row  1242  :  0
row  1243  :  0
row  1244  :  0
row  1245  :  0
row  1246  :  0
row  1247  :  0
row  1248  :  0
row  1249  :  0
row  1250  :  0
row  1251  :  0
row  1252  :  0
row  1253  :  1
row  1254  :  0
row  1255  :  0
row  1256  :  0
row  1257  :  0
row  1258  :  0
row  1259  :  0
row  1260  :  0
row  1261  :  0
row  1262  :  0
row  1263  :  0
row  1264  :  0
row  1265  :  5
row  1266  :  0
row  1267  :  0
row  1268  :  0
row  1269  :  0
row  1270  :  0
row  1271  :  0
row  1272  :  0
row  1273  :  0
row  1274  :  0
row  1275  :  0
row  1276  :  0
row  1277  :  0
row  1278  :  0
row  1279  :  0
row  1280  :  0
row  1281  :  0
row  1282  :  0
row  1283  :  0
row  1284  :  0
row  1285  :  0
row  1286  :  0
row  1287  :  0
row  1288  :  0
row  1289  :  0
row  1290  :  0
row  1291  :  0
row  1292  :  0
row  1293  :  0
row  1294  :  0
row  1295  :  0
row  1296  :  0
row  1297  :  0
row  1298  :  0
row  1299  :  0
row  1300  :  0
row  1301  :  0
row  1302  :  0
row  1303  :  0
row  1304  :  0
row  1305  :  0
row  1306  :  0
row  1307  :  1
row  1308  :  0
row  1309  :  0
row  1310  :  0
row  1311  :  0
row  1312  :  0
row  1313  :  0
row  1314  :  0
row  1315  :  0
row  1316  :  0
row  1317  :  0
row  1318  :  0
row  1319  :  0
row  1320  :  0
row  1321  :  0
row  1322  :  0
row  1323  :  0
row  1324  :  0
row  1325  :  0
row  1326  :  1
row  1327  :  1
row  1328  :  0
row  1329  :  1
row  1330  :  0
row  1331  :  1
row  1332  :  0
row  1333  :  0
row  1334  :  0
row  1335  :  0
row  1336  :  0
row  1337  :  0
row  1338  :  0
row  1339  :  0
row  1340  :  0
row  1341  :  0
row  1342  :  0
row  1343  :  0
row  1344  :  0
row  1345  :  0
row  1346  :  5
row  1347  :  4
row  1348  :  0
row  1349  :  0
row  1350  :  0
row  1351  :  0
row  1352  :  0
row  1353  :  0
row  1354  :  0
row  1355  :  0
row  1356  :  0
row  1357  :  0
row  1358  :  0
row  1359  :  0
row  1360  :  0
row  1361  :  0
row  1362  :  0
row  1363  :  0
row  1364  :  0
row  1365  :  1
row  1366  :  0
row  1367  :  0
row  1368  :  0
row  1369  :  0
row  1370  :  0
row  1371  :  0
row  1372  :  0
row  1373  :  0
row  1374  :  0
row  1375  :  0
row  1376  :  0
row  1377  :  0
row  1378  :  0
row  1379  :  0
row  1380  :  0
row  1381  :  0
row  1382  :  3
row  1383  :  0
row  1384  :  0
row  1385  :  0
row  1386  :  0
row  1387  :  0
row  1388  :  0
row  1389  :  0
row  1390  :  0
row  1391  :  0
row  1392  :  0
row  1393  :  0
row  1394  :  0
row  1395  :  0
row  1396  :  0
row  1397  :  0
row  1398  :  0
row  1399  :  0
row  1400  :  0
row  1401  :  0
row  1402  :  0
row  1403  :  0
row  1404  :  6
row  1405  :  0
row  1406  :  0
row  1407  :  0
row  1408  :  0
row  1409  :  0
row  1410  :  0
row  1411  :  0
row  1412  :  0
row  1413  :  0
row  1414  :  0
row  1415  :  0
row  1416  :  0
row  1417  :  0
row  1418  :  0
row  1419  :  0
row  1420  :  0
row  1421  :  0
row  1422  :  0
row  1423  :  0
row  1424  :  0
row  1425  :  0
row  1426  :  0
row  1427  :  0
row  1428  :  0
row  1429  :  0
row  1430  :  0
row  1431  :  0
row  1432  :  0
row  1433  :  0
row  1434  :  0
row  1435  :  0
row  1436  :  0
row  1437  :  0
row  1438  :  0
row  1439  :  0
row  1440  :  0
row  1441  :  0
row  1442  :  0
row  1443  :  0
row  1444  :  7
row  1445  :  0
row  1446  :  2
row  1447  :  0
row  1448  :  0
row  1449  :  0
row  1450  :  0
row  1451  :  0
row  1452  :  0
row  1453  :  0
row  1454  :  0
row  1455  :  0
row  1456  :  0
row  1457  :  0
row  1458  :  0
row  1459  :  1
row  1460  :  0
row  1461  :  0
row  1462  :  0
row  1463  :  1
row  1464  :  0
row  1465  :  0
row  1466  :  0
row  1467  :  0
row  1468  :  0
row  1469  :  0
row  1470  :  0
row  1471  :  0
row  1472  :  0
row  1473  :  0
row  1474  :  0
row  1475  :  0
row  1476  :  0
row  1477  :  0
row  1478  :  0
row  1479  :  0
row  1480  :  0
row  1481  :  1
row  1482  :  1
row  1483  :  0
row  1484  :  0
row  1485  :  0
row  1486  :  0
row  1487  :  0
row  1488  :  0
row  1489  :  0
row  1490  :  0
row  1491  :  0
row  1492  :  0
row  1493  :  0
row  1494  :  0
row  1495  :  0
row  1496  :  0
row  1497  :  0
row  1498  :  0
row  1499  :  5
row  1500  :  0
row  1501  :  0
row  1502  :  0
row  1503  :  0
row  1504  :  1
row  1505  :  1
row  1506  :  0
row  1507  :  1
row  1508  :  3
row  1509  :  1
row  1510  :  6
row  1511  :  0
row  1512  :  0
row  1513  :  0
row  1514  :  0
row  1515  :  0
row  1516  :  0
row  1517  :  0
row  1518  :  0
row  1519  :  0
row  1520  :  0
row  1521  :  0
row  1522  :  0
row  1523  :  1
row  1524  :  0
row  1525  :  0
row  1526  :  0
row  1527  :  2
row  1528  :  0
row  1529  :  0
row  1530  :  0
row  1531  :  0
row  1532  :  0
row  1533  :  0
row  1534  :  0
row  1535  :  0
row  1536  :  0
row  1537  :  0
row  1538  :  0
row  1539  :  1
row  1540  :  0
row  1541  :  0
row  1542  :  0
row  1543  :  0
row  1544  :  0
row  1545  :  0
row  1546  :  0
row  1547  :  0
row  1548  :  0
row  1549  :  0
row  1550  :  0
row  1551  :  0
row  1552  :  0
row  1553  :  0
row  1554  :  0
row  1555  :  0
row  1556  :  1
row  1557  :  0
row  1558  :  0
row  1559  :  0
row  1560  :  0
row  1561  :  0
row  1562  :  0
row  1563  :  0
row  1564  :  0
row  1565  :  0
row  1566  :  0
row  1567  :  0
row  1568  :  0
row  1569  :  0
row  1570  :  1
row  1571  :  0
row  1572  :  0
row  1573  :  0
row  1574  :  0
row  1575  :  0
row  1576  :  0
row  1577  :  0
row  1578  :  0
row  1579  :  0
row  1580  :  0
row  1581  :  0
row  1582  :  0
row  1583  :  0
row  1584  :  0
row  1585  :  0
row  1586  :  0
row  1587  :  0
row  1588  :  0
row  1589  :  0
row  1590  :  0
row  1591  :  0
row  1592  :  0
row  1593  :  0
row  1594  :  0
row  1595  :  0
row  1596  :  0
row  1597  :  0
row  1598  :  0
row  1599  :  0
row  1600  :  0
row  1601  :  0
row  1602  :  0
row  1603  :  0
row  1604  :  0
row  1605  :  0
row  1606  :  0
row  1607  :  0
row  1608  :  0
row  1609  :  0
row  1610  :  0
row  1611  :  0
row  1612  :  0
row  1613  :  0
row  1614  :  0
row  1615  :  0
row  1616  :  0
row  1617  :  0
row  1618  :  0
row  1619  :  0
row  1620  :  5
row  1621  :  0
row  1622  :  0
row  1623  :  0
row  1624  :  0
row  1625  :  0
row  1626  :  0
row  1627  :  0
row  1628  :  0
row  1629  :  0
row  1630  :  0
row  1631  :  0
row  1632  :  0
row  1633  :  0
row  1634  :  0
row  1635  :  0
row  1636  :  0
row  1637  :  1
row  1638  :  0
row  1639  :  0
row  1640  :  0
row  1641  :  1
row  1642  :  0
row  1643  :  1
row  1644  :  0
row  1645  :  0
row  1646  :  0
row  1647  :  0
row  1648  :  0
row  1649  :  0
row  1650  :  0
row  1651  :  0
row  1652  :  0
row  1653  :  0
row  1654  :  0
row  1655  :  0
row  1656  :  0
row  1657  :  0
row  1658  :  0
row  1659  :  5
row  1660  :  0
row  1661  :  0
row  1662  :  0
row  1663  :  0
row  1664  :  5
row  1665  :  0
row  1666  :  0
row  1667  :  0
row  1668  :  0
row  1669  :  1
row  1670  :  0
row  1671  :  0
row  1672  :  0
row  1673  :  0
row  1674  :  0
row  1675  :  0
row  1676  :  0
row  1677  :  0
row  1678  :  0
row  1679  :  0
row  1680  :  0
row  1681  :  0
row  1682  :  0
row  1683  :  0
row  1684  :  0
row  1685  :  0
row  1686  :  0
row  1687  :  0
row  1688  :  0
row  1689  :  0
row  1690  :  0
row  1691  :  0
row  1692  :  0
row  1693  :  0
row  1694  :  0
row  1695  :  0
row  1696  :  0
row  1697  :  0
row  1698  :  0
row  1699  :  0
row  1700  :  0
row  1701  :  0
row  1702  :  0
row  1703  :  0
row  1704  :  0
row  1705  :  0
row  1706  :  0
row  1707  :  0
row  1708  :  0
row  1709  :  1
row  1710  :  6
row  1711  :  0
row  1712  :  0
row  1713  :  0
row  1714  :  0
row  1715  :  0
row  1716  :  0
row  1717  :  0
row  1718  :  1
row  1719  :  0
row  1720  :  0
row  1721  :  0
row  1722  :  0
row  1723  :  0
row  1724  :  3
row  1725  :  1
row  1726  :  0
row  1727  :  2

row  1728  :  1
row  1729  :  1
row  1730  :  2
row  1731  :  3
row  1732  :  1
row  1733  :  1
row  1734  :  0
row  1735  :  0
row  1736  :  5
row  1737  :  0
row  1738  :  0
row  1739  :  0
row  1740  :  1
row  1741  :  0
row  1742  :  0
row  1743  :  0
row  1744  :  0
row  1745  :  0
row  1746  :  0
row  1747  :  0
row  1748  :  0
row  1749  :  0
row  1750  :  0
row  1751  :  0
row  1752  :  1
row  1753  :  0
row  1754  :  0
row  1755  :  0
row  1756  :  0
row  1757  :  0
row  1758  :  0
row  1759  :  0
row  1760  :  0
row  1761  :  1
row  1762  :  0
row  1763  :  0
row  1764  :  0
row  1765  :  0
row  1766  :  0
row  1767  :  0
row  1768  :  0
row  1769  :  0
row  1770  :  0
row  1771  :  0
row  1772  :  0
row  1773  :  0
row  1774  :  0
row  1775  :  0
row  1776  :  0
row  1777  :  0
row  1778  :  0
row  1779  :  0
row  1780  :  0
row  1781  :  0
row  1782  :  2
row  1783  :  0
row  1784  :  0
row  1785  :  0
row  1786  :  0
row  1787  :  0
row  1788  :  0
row  1789  :  0
row  1790  :  0
row  1791  :  0
row  1792  :  0
row  1793  :  2
row  1794  :  0
row  1795  :  0
row  1796  :  0
row  1797  :  0
row  1798  :  0
row  1799  :  0
row  1800  :  0
row  1801  :  0
row  1802  :  5
row  1803  :  0
row  1804  :  0
row  1805  :  0
row  1806  :  0
row  1807  :  0
row  1808  :  1
row  1809  :  0
row  1810  :  0
row  1811  :  0
row  1812  :  0
row  1813  :  0
row  1814  :  0
row  1815  :  1
row  1816  :  0
row  1817  :  0
row  1818  :  6
row  1819  :  1
row  1820  :  0
row  1821  :  0
row  1822  :  0
row  1823  :  0
row  1824  :  0
row  1825  :  0
row  1826  :  0
row  1827  :  0
row  1828  :  0
row  1829  :  0
row  1830  :  0
row  1831  :  2
row  1832  :  0
row  1833  :  0
row  1834  :  0
row  1835  :  0
row  1836  :  0
row  1837  :  0
row  1838  :  0
row  1839  :  0
row  1840  :  0
row  1841  :  0
row  1842  :  5
row  1843  :  0
row  1844  :  0
row  1845  :  0
row  1846  :  0
row  1847  :  0
row  1848  :  0
row  1849  :  0
row  1850  :  0
row  1851  :  0
row  1852  :  0
row  1853  :  0
row  1854  :  0
row  1855  :  0
row  1856  :  0
row  1857  :  0
row  1858  :  0
row  1859  :  0
row  1860  :  1
row  1861  :  0
row  1862  :  1
row  1863  :  0
row  1864  :  0
row  1865  :  0
row  1866  :  0
row  1867  :  0
row  1868  :  0
row  1869  :  0
row  1870  :  0
row  1871  :  0
row  1872  :  0
row  1873  :  0
row  1874  :  0
row  1875  :  0
row  1876  :  0
row  1877  :  0
row  1878  :  2
row  1879  :  0
row  1880  :  3
row  1881  :  0
row  1882  :  0
row  1883  :  0
row  1884  :  0
row  1885  :  0
row  1886  :  0
row  1887  :  0
row  1888  :  0
row  1889  :  0
row  1890  :  0
row  1891  :  0
row  1892  :  0
row  1893  :  0
row  1894  :  1
row  1895  :  0
row  1896  :  0
row  1897  :  0
row  1898  :  0
row  1899  :  0
row  1900  :  0
row  1901  :  0
row  1902  :  0
row  1903  :  0
row  1904  :  0
row  1905  :  0
row  1906  :  0
row  1907  :  0
row  1908  :  0
row  1909  :  0
row  1910  :  0
row  1911  :  0
row  1912  :  0
row  1913  :  0
row  1914  :  0
row  1915  :  0
row  1916  :  0
row  1917  :  0
row  1918  :  1
row  1919  :  0
row  1920  :  0
row  1921  :  0
row  1922  :  0
row  1923  :  0
row  1924  :  0
row  1925  :  0
row  1926  :  0
row  1927  :  0
row  1928  :  0
row  1929  :  0
row  1930  :  0
row  1931  :  0
row  1932  :  0
row  1933  :  0
row  1934  :  0
row  1935  :  1
row  1936  :  0
row  1937  :  0
row  1938  :  0
row  1939  :  0
row  1940  :  0
row  1941  :  0
row  1942  :  1
row  1943  :  0
row  1944  :  0
row  1945  :  0
row  1946  :  0
row  1947  :  6
row  1948  :  2
row  1949  :  0
row  1950  :  0
row  1951  :  0
row  1952  :  0
row  1953  :  0
row  1954  :  0
row  1955  :  0
row  1956  :  0
row  1957  :  0
row  1958  :  1
row  1959  :  0
row  1960  :  0
row  1961  :  0
row  1962  :  0
row  1963  :  0
row  1964  :  0
row  1965  :  0
row  1966  :  0
row  1967  :  1
row  1968  :  0
row  1969  :  0
row  1970  :  0
row  1971  :  1
row  1972  :  5
row  1973  :  0
row  1974  :  0
row  1975  :  0
row  1976  :  0
row  1977  :  2
row  1978  :  0
row  1979  :  0
row  1980  :  0
row  1981  :  0
row  1982  :  0
row  1983  :  0
row  1984  :  0
row  1985  :  0
row  1986  :  0
row  1987  :  0
row  1988  :  0
row  1989  :  0
row  1990  :  1
row  1991  :  0
row  1992  :  0
row  1993  :  0
row  1994  :  0
row  1995  :  0
row  1996  :  0
row  1997  :  0
row  1998  :  0
row  1999  :  1
row  2000  :  0
row  2001  :  2
row  2002  :  0
row  2003  :  0
row  2004  :  0
row  2005  :  0
row  2006  :  2
row  2007  :  0
row  2008  :  0
row  2009  :  2
row  2010  :  2
row  2011  :  0
row  2012  :  1
row  2013  :  1
row  2014  :  1
row  2015  :  3
row  2016  :  0
row  2017  :  0
row  2018  :  0
row  2019  :  0
row  2020  :  0
row  2021  :  0
row  2022  :  0
row  2023  :  0
row  2024  :  0
row  2025  :  0
row  2026  :  0
row  2027  :  0
row  2028  :  0
row  2029  :  0
row  2030  :  0
row  2031  :  0
row  2032  :  0
row  2033  :  0
row  2034  :  0
row  2035  :  0
row  2036  :  0
row  2037  :  0
row  2038  :  0
row  2039  :  0
row  2040  :  0
row  2041  :  0
row  2042  :  0
row  2043  :  1
row  2044  :  0
row  2045  :  0
row  2046  :  0
row  2047  :  0
row  2048  :  0
row  2049  :  0
row  2050  :  0
row  2051  :  0
row  2052  :  0
row  2053  :  0
row  2054  :  0
row  2055  :  0
row  2056  :  0
row  2057  :  0
row  2058  :  0
row  2059  :  0
row  2060  :  0
row  2061  :  0
row  2062  :  0
row  2063  :  0
row  2064  :  0
row  2065  :  0
row  2066  :  0
row  2067  :  0
row  2068  :  0
row  2069  :  0
row  2070  :  0
row  2071  :  1
row  2072  :  0
row  2073  :  2
row  2074  :  0
row  2075  :  7
row  2076  :  0
row  2077  :  2
row  2078  :  0
row  2079  :  0
row  2080  :  0
row  2081  :  0
row  2082  :  0
row  2083  :  0
row  2084  :  0
row  2085  :  0
row  2086  :  0
row  2087  :  0
row  2088  :  1
row  2089  :  0
row  2090  :  0
row  2091  :  0
row  2092  :  0
row  2093  :  0
row  2094  :  0
row  2095  :  0
row  2096  :  0
row  2097  :  0
row  2098  :  0
row  2099  :  0
row  2100  :  1
row  2101  :  0
row  2102  :  0
row  2103  :  0
row  2104  :  0
row  2105  :  0
row  2106  :  0
row  2107  :  0
row  2108  :  0
row  2109  :  0
row  2110  :  0
row  2111  :  0
row  2112  :  0
row  2113  :  0
row  2114  :  0
row  2115  :  0
row  2116  :  0
row  2117  :  1
row  2118  :  0
row  2119  :  0
row  2120  :  0
row  2121  :  0
row  2122  :  0
row  2123  :  1
row  2124  :  0
row  2125  :  0
row  2126  :  0
row  2127  :  0
row  2128  :  0
row  2129  :  0
row  2130  :  1
row  2131  :  0
row  2132  :  0
row  2133  :  0
row  2134  :  0
row  2135  :  0
row  2136  :  0
row  2137  :  0
row  2138  :  0
row  2139  :  1
row  2140  :  0
row  2141  :  0
row  2142  :  0
row  2143  :  10
row  2144  :  0
row  2145  :  0
row  2146  :  0
row  2147  :  0
row  2148  :  0
row  2149  :  0
row  2150  :  0
row  2151  :  0
row  2152  :  0
row  2153  :  0
row  2154  :  0
row  2155  :  0
row  2156  :  0
row  2157  :  0
row  2158  :  0
row  2159  :  0
row  2160  :  0
row  2161  :  0
row  2162  :  0
row  2163  :  0
row  2164  :  0
row  2165  :  0
row  2166  :  0
row  2167  :  0
row  2168  :  0
row  2169  :  0
row  2170  :  0
row  2171  :  0
row  2172  :  0
row  2173  :  0
row  2174  :  0
row  2175  :  0
row  2176  :  0
row  2177  :  0
row  2178  :  0
row  2179  :  0
row  2180  :  1
row  2181  :  1
row  2182  :  0
row  2183  :  0
row  2184  :  0
row  2185  :  0
row  2186  :  0
row  2187  :  0
row  2188  :  0
row  2189  :  1
row  2190  :  0
row  2191  :  6
row  2192  :  0
row  2193  :  0
row  2194  :  0
row  2195  :  0
row  2196  :  0
row  2197  :  0
row  2198  :  0
row  2199  :  0
row  2200  :  1
row  2201  :  0
row  2202  :  0
row  2203  :  0
row  2204  :  0
row  2205  :  0
row  2206  :  0
row  2207  :  0
row  2208  :  0
row  2209  :  0
row  2210  :  0
row  2211  :  1
row  2212  :  0
row  2213  :  0
row  2214  :  0
row  2215  :  0
row  2216  :  0
row  2217  :  1
row  2218  :  0
row  2219  :  0
row  2220  :  0
row  2221  :  0
row  2222  :  0
row  2223  :  0
row  2224  :  0
row  2225  :  0
row  2226  :  0
row  2227  :  0
row  2228  :  0
row  2229  :  0
row  2230  :  0
row  2231  :  0
row  2232  :  0
row  2233  :  0
row  2234  :  0
row  2235  :  1
row  2236  :  0
row  2237  :  0
row  2238  :  1
row  2239  :  1
row  2240  :  0
row  2241  :  11
row  2242  :  0
row  2243  :  0
row  2244  :  0
row  2245  :  0
row  2246  :  0
row  2247  :  1
row  2248  :  0
row  2249  :  0
row  2250  :  0
row  2251  :  0
row  2252  :  0
row  2253  :  0
row  2254  :  0
row  2255  :  0
row  2256  :  0
row  2257  :  7
row  2258  :  0
row  2259  :  0
row  2260  :  0
row  2261  :  0
row  2262  :  0
row  2263  :  0
row  2264  :  0
row  2265  :  1
row  2266  :  0
row  2267  :  1
row  2268  :  0
row  2269  :  0
row  2270  :  0
row  2271  :  0
row  2272  :  0
row  2273  :  0
row  2274  :  0
row  2275  :  0
row  2276  :  0

row  2277  :  0
row  2278  :  0
row  2279  :  0
row  2280  :  0
row  2281  :  0
row  2282  :  0
row  2283  :  0
row  2284  :  0
row  2285  :  0
row  2286  :  0
row  2287  :  0
row  2288  :  0
row  2289  :  0
row  2290  :  0
row  2291  :  0
row  2292  :  0
row  2293  :  0
row  2294  :  0
row  2295  :  0
row  2296  :  0
row  2297  :  0
row  2298  :  0
row  2299  :  1
row  2300  :  0
row  2301  :  0
row  2302  :  0
row  2303  :  6
row  2304  :  0
row  2305  :  0
row  2306  :  0
row  2307  :  0
row  2308  :  0
row  2309  :  1
row  2310  :  0
row  2311  :  0
row  2312  :  0
row  2313  :  0
row  2314  :  0
row  2315  :  0
row  2316  :  0
row  2317  :  1
row  2318  :  0
row  2319  :  0
row  2320  :  0
row  2321  :  0
row  2322  :  0
row  2323  :  0
row  2324  :  0
row  2325  :  0
row  2326  :  0
row  2327  :  0
row  2328  :  0
row  2329  :  0
row  2330  :  0
row  2331  :  0
row  2332  :  1
row  2333  :  0
row  2334  :  0
row  2335  :  0
row  2336  :  1
row  2337  :  0
row  2338  :  1
row  2339  :  1
row  2340  :  0
row  2341  :  0
row  2342  :  10
row  2343  :  0
row  2344  :  1
row  2345  :  4
row  2346  :  1
row  2347  :  1
row  2348  :  1
row  2349  :  3
row  2350  :  2
row  2351  :  3
row  2352  :  1
row  2353  :  1
row  2354  :  0
row  2355  :  0
row  2356  :  0
row  2357  :  0
row  2358  :  0
row  2359  :  0
row  2360  :  0
row  2361  :  0
row  2362  :  1
row  2363  :  0
row  2364  :  0
row  2365  :  0
row  2366  :  4
row  2367  :  0
row  2368  :  0
row  2369  :  0
row  2370  :  8
row  2371  :  0
row  2372  :  0
row  2373  :  0
row  2374  :  3
row  2375  :  0
row  2376  :  0
row  2377  :  0
row  2378  :  0
row  2379  :  1
row  2380  :  0
row  2381  :  1
row  2382  :  0
row  2383  :  0
row  2384  :  1
row  2385  :  0
row  2386  :  0
row  2387  :  0
row  2388  :  3
row  2389  :  0
row  2390  :  0
row  2391  :  0
row  2392  :  0
row  2393  :  0
row  2394  :  0
row  2395  :  0
row  2396  :  0
row  2397  :  0
row  2398  :  0
row  2399  :  0
row  2400  :  0
row  2401  :  0
row  2402  :  0
row  2403  :  0
row  2404  :  0
row  2405  :  0
row  2406  :  0
row  2407  :  0
row  2408  :  0
row  2409  :  0
row  2410  :  0
row  2411  :  0
row  2412  :  5
row  2413  :  0
row  2414  :  0
row  2415  :  0
row  2416  :  0
row  2417  :  0
row  2418  :  0
row  2419  :  0
row  2420  :  0
row  2421  :  0
row  2422  :  1
row  2423  :  0
row  2424  :  0
row  2425  :  0
row  2426  :  0
row  2427  :  0
row  2428  :  0
row  2429  :  0
row  2430  :  0
row  2431  :  0
row  2432  :  0
row  2433  :  0
row  2434  :  0
row  2435  :  0
row  2436  :  0
row  2437  :  0
row  2438  :  0
row  2439  :  0
row  2440  :  1
row  2441  :  0
row  2442  :  0
row  2443  :  0
row  2444  :  0
row  2445  :  0
row  2446  :  0
row  2447  :  0
row  2448  :  0
row  2449  :  0
row  2450  :  0
row  2451  :  0
row  2452  :  0
row  2453  :  0
row  2454  :  0
row  2455  :  1
row  2456  :  0
row  2457  :  0
row  2458  :  0
row  2459  :  9
row  2460  :  0
row  2461  :  5
row  2462  :  0
row  2463  :  0
row  2464  :  1
row  2465  :  1
row  2466  :  4
row  2467  :  1
row  2468  :  0
row  2469  :  1
row  2470  :  2
row  2471  :  0
row  2472  :  2
row  2473  :  1
row  2474  :  1
row  2475  :  0
row  2476  :  1
row  2477  :  1
row  2478  :  0
row  2479  :  0
row  2480  :  0
row  2481  :  0
row  2482  :  0
row  2483  :  1
row  2484  :  0
row  2485  :  0
row  2486  :  0
row  2487  :  0
row  2488  :  0
row  2489  :  0
row  2490  :  0
row  2491  :  0
row  2492  :  0
row  2493  :  0
row  2494  :  0
row  2495  :  0
row  2496  :  0
row  2497  :  0
row  2498  :  0
row  2499  :  0
row  2500  :  0
row  2501  :  0
row  2502  :  0
row  2503  :  0
row  2504  :  0
row  2505  :  1
row  2506  :  1
row  2507  :  0
row  2508  :  0
row  2509  :  0
row  2510  :  0
row  2511  :  0
row  2512  :  0
row  2513  :  0
row  2514  :  1
row  2515  :  0
row  2516  :  0
row  2517  :  0
row  2518  :  0
row  2519  :  1
row  2520  :  0
row  2521  :  1
row  2522  :  0
row  2523  :  0
row  2524  :  0
row  2525  :  0
row  2526  :  1
row  2527  :  0
row  2528  :  2
row  2529  :  1
row  2530  :  0
row  2531  :  0
row  2532  :  0
row  2533  :  0
row  2534  :  0
row  2535  :  0
row  2536  :  0
row  2537  :  0
row  2538  :  0
row  2539  :  0
row  2540  :  0
row  2541  :  0
row  2542  :  0
row  2543  :  0
row  2544  :  0
row  2545  :  0
row  2546  :  0
row  2547  :  0
row  2548  :  0
row  2549  :  0
row  2550  :  0
row  2551  :  0
row  2552  :  7
row  2553  :  0
row  2554  :  0
row  2555  :  0
row  2556  :  0
row  2557  :  0
row  2558  :  0
row  2559  :  0
row  2560  :  0
row  2561  :  2
row  2562  :  1
row  2563  :  0
row  2564  :  0
row  2565  :  0
row  2566  :  0
row  2567  :  0
row  2568  :  0
row  2569  :  0
row  2570  :  0
row  2571  :  0
row  2572  :  0
row  2573  :  0
row  2574  :  1
row  2575  :  1
row  2576  :  0
row  2577  :  0
row  2578  :  0
row  2579  :  0
row  2580  :  0
row  2581  :  0
row  2582  :  0
row  2583  :  0
row  2584  :  0
row  2585  :  0
row  2586  :  2
row  2587  :  0
row  2588  :  0
row  2589  :  0
row  2590  :  1
row  2591  :  1
row  2592  :  0
row  2593  :  0
row  2594  :  4
row  2595  :  1
row  2596  :  1
row  2597  :  0
row  2598  :  0
row  2599  :  0
row  2600  :  0
row  2601  :  0
row  2602  :  0
row  2603  :  0
row  2604  :  0
row  2605  :  0
row  2606  :  0
row  2607  :  0
row  2608  :  0
row  2609  :  5
row  2610  :  0
row  2611  :  0
row  2612  :  2
row  2613  :  1
row  2614  :  0
row  2615  :  0
row  2616  :  1
row  2617  :  0
row  2618  :  0
row  2619  :  0
row  2620  :  0
row  2621  :  0
row  2622  :  0
row  2623  :  0
row  2624  :  0
row  2625  :  0
row  2626  :  0
row  2627  :  0
row  2628  :  0
row  2629  :  1
row  2630  :  0
row  2631  :  0
row  2632  :  0
row  2633  :  0
row  2634  :  0
row  2635  :  1
row  2636  :  0
row  2637  :  0
row  2638  :  0
row  2639  :  0
row  2640  :  0
row  2641  :  0
row  2642  :  0
row  2643  :  0
row  2644  :  0
row  2645  :  0
row  2646  :  0
row  2647  :  0
row  2648  :  0
row  2649  :  0
row  2650  :  0
row  2651  :  0
row  2652  :  0
row  2653  :  0
row  2654  :  0
row  2655  :  0
row  2656  :  0
row  2657  :  0
row  2658  :  0
row  2659  :  0
row  2660  :  0
row  2661  :  0
row  2662  :  0
row  2663  :  0
row  2664  :  0
row  2665  :  0
row  2666  :  0
row  2667  :  0
row  2668  :  0
row  2669  :  0
row  2670  :  0
row  2671  :  0
row  2672  :  0
row  2673  :  0
row  2674  :  0
row  2675  :  0
row  2676  :  0
row  2677  :  0
row  2678  :  0
row  2679  :  0
row  2680  :  0
row  2681  :  0
row  2682  :  0
row  2683  :  0
row  2684  :  0
row  2685  :  0
row  2686  :  1
row  2687  :  0
row  2688  :  0
row  2689  :  0
row  2690  :  0
row  2691  :  1
row  2692  :  0
row  2693  :  0
row  2694  :  0
row  2695  :  0
row  2696  :  0
row  2697  :  0
row  2698  :  0
row  2699  :  0
row  2700  :  0
row  2701  :  0
row  2702  :  6
row  2703  :  0
row  2704  :  0
row  2705  :  0
row  2706  :  0
row  2707  :  0
row  2708  :  0
row  2709  :  0
row  2710  :  3
row  2711  :  0
row  2712  :  0
row  2713  :  0
row  2714  :  0
row  2715  :  0
row  2716  :  0
row  2717  :  0
row  2718  :  0
row  2719  :  0
row  2720  :  0
row  2721  :  0
row  2722  :  0
row  2723  :  0
row  2724  :  1
row  2725  :  0
row  2726  :  0
row  2727  :  6
row  2728  :  0
row  2729  :  0
row  2730  :  0
row  2731  :  0
row  2732  :  3
row  2733  :  1
row  2734  :  0
row  2735  :  0
row  2736  :  0
row  2737  :  0
row  2738  :  0
row  2739  :  1
row  2740  :  0
row  2741  :  1
row  2742  :  1
row  2743  :  0
row  2744  :  2
row  2745  :  0
row  2746  :  0
row  2747  :  0
row  2748  :  2
row  2749  :  2
row  2750  :  1
row  2751  :  1
row  2752  :  4
row  2753  :  2
row  2754  :  2
row  2755  :  0
row  2756  :  0
row  2757  :  0
row  2758  :  0
row  2759  :  2
row  2760  :  0
row  2761  :  0
row  2762  :  0
row  2763  :  0
row  2764  :  0
row  2765  :  7
row  2766  :  0
row  2767  :  2
row  2768  :  0
row  2769  :  0
row  2770  :  0
row  2771  :  0
row  2772  :  1
row  2773  :  0
row  2774  :  0
row  2775  :  7
row  2776  :  0
row  2777  :  0
row  2778  :  1
row  2779  :  0
row  2780  :  0
row  2781  :  0
row  2782  :  0
row  2783  :  0
row  2784  :  0
row  2785  :  0
row  2786  :  1
row  2787  :  0
row  2788  :  0
row  2789  :  0
row  2790  :  0
row  2791  :  0
row  2792  :  0
row  2793  :  0
row  2794  :  1
row  2795  :  0
row  2796  :  1
row  2797  :  0
row  2798  :  0
row  2799  :  0
row  2800  :  0

row  2801  :  0
row  2802  :  1
row  2803  :  0
row  2804  :  0
row  2805  :  0
row  2806  :  0
row  2807  :  0
row  2808  :  0
row  2809  :  1
row  2810  :  0
row  2811  :  0
row  2812  :  1
row  2813  :  0
row  2814  :  1
row  2815  :  0
row  2816  :  0
row  2817  :  2
row  2818  :  0
row  2819  :  0
row  2820  :  0
row  2821  :  0
row  2822  :  0
row  2823  :  0
row  2824  :  4
row  2825  :  0
row  2826  :  0
row  2827  :  1
row  2828  :  8
row  2829  :  0
row  2830  :  0
row  2831  :  1
row  2832  :  0
row  2833  :  0
row  2834  :  0
row  2835  :  0
row  2836  :  0
row  2837  :  0
row  2838  :  0
row  2839  :  0
row  2840  :  0
row  2841  :  0
row  2842  :  0
row  2843  :  0
row  2844  :  0
row  2845  :  0
row  2846  :  0
row  2847  :  0
row  2848  :  0
row  2849  :  0
row  2850  :  0
row  2851  :  0
row  2852  :  0
row  2853  :  0
row  2854  :  0
row  2855  :  0
row  2856  :  0
row  2857  :  0
row  2858  :  0
row  2859  :  0
row  2860  :  0
row  2861  :  0
row  2862  :  0
row  2863  :  0
row  2864  :  0
row  2865  :  1
row  2866  :  0
row  2867  :  0
row  2868  :  0
row  2869  :  0
row  2870  :  8
row  2871  :  0
row  2872  :  0
row  2873  :  0
row  2874  :  0
row  2875  :  0
row  2876  :  0
row  2877  :  0
row  2878  :  0
row  2879  :  0
row  2880  :  0
row  2881  :  0
row  2882  :  0
row  2883  :  0
row  2884  :  0
row  2885  :  0
row  2886  :  0
row  2887  :  0
row  2888  :  0
row  2889  :  0
row  2890  :  0
row  2891  :  0
row  2892  :  3
row  2893  :  0
row  2894  :  0
row  2895  :  1
row  2896  :  0
row  2897  :  0
row  2898  :  0
row  2899  :  1
row  2900  :  0
row  2901  :  0
row  2902  :  1
row  2903  :  0
row  2904  :  2
row  2905  :  0
row  2906  :  0
row  2907  :  0
row  2908  :  0
row  2909  :  0
row  2910  :  0
row  2911  :  0
row  2912  :  0
row  2913  :  0
row  2914  :  0
row  2915  :  0
row  2916  :  0
row  2917  :  0
row  2918  :  0
row  2919  :  0
row  2920  :  0
row  2921  :  0
row  2922  :  0
row  2923  :  0
row  2924  :  0
row  2925  :  0
row  2926  :  0
row  2927  :  0
row  2928  :  0
row  2929  :  0
row  2930  :  0
row  2931  :  0
row  2932  :  0
row  2933  :  0
row  2934  :  0
row  2935  :  0
row  2936  :  0
row  2937  :  1
row  2938  :  0
row  2939  :  0
row  2940  :  0
row  2941  :  0
row  2942  :  0
row  2943  :  0
row  2944  :  0
row  2945  :  0
row  2946  :  0
row  2947  :  0
row  2948  :  0
row  2949  :  0
row  2950  :  1
row  2951  :  0
row  2952  :  5
row  2953  :  0
row  2954  :  0
row  2955  :  1
row  2956  :  0
row  2957  :  0
row  2958  :  1
row  2959  :  0
row  2960  :  0
row  2961  :  0
row  2962  :  0
row  2963  :  0
row  2964  :  1
row  2965  :  0
row  2966  :  1
row  2967  :  1
row  2968  :  1
row  2969  :  1
row  2970  :  0
row  2971  :  0
row  2972  :  0
row  2973  :  0
row  2974  :  0
row  2975  :  0
row  2976  :  0
row  2977  :  0
row  2978  :  0
row  2979  :  0
row  2980  :  0
row  2981  :  0
row  2982  :  0
row  2983  :  0
row  2984  :  0
row  2985  :  0
row  2986  :  0
row  2987  :  0
row  2988  :  0
row  2989  :  1
row  2990  :  0
row  2991  :  0
row  2992  :  0
row  2993  :  0
row  2994  :  0
row  2995  :  0
row  2996  :  0
row  2997  :  0
row  2998  :  0
row  2999  :  0
row  3000  :  0
row  3001  :  0
row  3002  :  0
row  3003  :  1
row  3004  :  0
row  3005  :  0
row  3006  :  0
row  3007  :  1
row  3008  :  1
row  3009  :  0
row  3010  :  0
row  3011  :  3
row  3012  :  1
row  3013  :  0
row  3014  :  1
row  3015  :  1
row  3016  :  1
row  3017  :  0
row  3018  :  3
row  3019  :  0
row  3020  :  1
row  3021  :  1
row  3022  :  3
row  3023  :  0
row  3024  :  0
row  3025  :  0
row  3026  :  0
row  3027  :  1
row  3028  :  0
row  3029  :  0
row  3030  :  1
row  3031  :  0
row  3032  :  0
row  3033  :  3
row  3034  :  0
row  3035  :  1
row  3036  :  0
row  3037  :  0
row  3038  :  0
row  3039  :  0
row  3040  :  0
row  3041  :  1
row  3042  :  0
row  3043  :  0
row  3044  :  0
row  3045  :  1
row  3046  :  0
row  3047  :  0
row  3048  :  1
row  3049  :  0
row  3050  :  0
row  3051  :  0
row  3052  :  0
row  3053  :  0
row  3054  :  0
row  3055  :  0
row  3056  :  0
row  3057  :  0
row  3058  :  0
row  3059  :  0
row  3060  :  0
row  3061  :  0
row  3062  :  0
row  3063  :  0
row  3064  :  0
row  3065  :  0
row  3066  :  1
row  3067  :  1
row  3068  :  0
row  3069  :  0
row  3070  :  1
row  3071  :  0
row  3072  :  2
row  3073  :  1
row  3074  :  0
row  3075  :  0
row  3076  :  0
row  3077  :  0
row  3078  :  0
row  3079  :  0
row  3080  :  0
row  3081  :  0
row  3082  :  1
row  3083  :  1
row  3084  :  7
row  3085  :  3
row  3086  :  1
row  3087  :  0
row  3088  :  2
row  3089  :  0
row  3090  :  1
row  3091  :  0
row  3092  :  0
row  3093  :  0
row  3094  :  0
row  3095  :  0
row  3096  :  0
row  3097  :  0
row  3098  :  0
row  3099  :  0
row  3100  :  0
row  3101  :  1
row  3102  :  0
row  3103  :  0
row  3104  :  0
row  3105  :  0
row  3106  :  0
row  3107  :  0
row  3108  :  0
row  3109  :  0
row  3110  :  0
row  3111  :  1
row  3112  :  0
row  3113  :  0
row  3114  :  0
row  3115  :  0
row  3116  :  0
row  3117  :  0
row  3118  :  0
row  3119  :  0
row  3120  :  0
row  3121  :  0
row  3122  :  0
row  3123  :  0
row  3124  :  0
row  3125  :  0
row  3126  :  0
row  3127  :  0
row  3128  :  0
row  3129  :  2
row  3130  :  1
row  3131  :  0
row  3132  :  0
row  3133  :  0
row  3134  :  0
row  3135  :  0
row  3136  :  0
row  3137  :  1
row  3138  :  1
row  3139  :  0
row  3140  :  0
row  3141  :  0
row  3142  :  0
row  3143  :  0
row  3144  :  0
row  3145  :  0
row  3146  :  0
row  3147  :  0
row  3148  :  1
row  3149  :  0
row  3150  :  0
row  3151  :  0
row  3152  :  0
row  3153  :  1
row  3154  :  0
row  3155  :  0
row  3156  :  0
row  3157  :  0
row  3158  :  0
row  3159  :  0
row  3160  :  0
row  3161  :  0
row  3162  :  0
row  3163  :  0
row  3164  :  0
row  3165  :  0
row  3166  :  1
row  3167  :  0
row  3168  :  0
row  3169  :  0
row  3170  :  0
row  3171  :  0
row  3172  :  0
row  3173  :  1
row  3174  :  5
row  3175  :  0
row  3176  :  0
row  3177  :  0
row  3178  :  0
row  3179  :  0
row  3180  :  0
row  3181  :  0
row  3182  :  1
row  3183  :  1
row  3184  :  0
row  3185  :  0
row  3186  :  0
row  3187  :  1
row  3188  :  0
row  3189  :  0
row  3190  :  0
row  3191  :  0
row  3192  :  0
row  3193  :  0
row  3194  :  0
row  3195  :  0
row  3196  :  0
row  3197  :  0
row  3198  :  0
row  3199  :  0
row  3200  :  0
row  3201  :  0
row  3202  :  0
row  3203  :  0
row  3204  :  0
row  3205  :  0
row  3206  :  0
row  3207  :  4
row  3208  :  1
row  3209  :  0
row  3210  :  0
row  3211  :  0
row  3212  :  0
row  3213  :  0
row  3214  :  0
row  3215  :  1
row  3216  :  0
row  3217  :  0
row  3218  :  0
row  3219  :  0
row  3220  :  1
row  3221  :  0
row  3222  :  2
row  3223  :  1
row  3224  :  0
row  3225  :  0
row  3226  :  1
row  3227  :  0
row  3228  :  0
row  3229  :  1
row  3230  :  0
row  3231  :  1
row  3232  :  2
row  3233  :  1
row  3234  :  0
row  3235  :  0
row  3236  :  0
row  3237  :  0
row  3238  :  2
row  3239  :  1
row  3240  :  2
row  3241  :  0
row  3242  :  0
row  3243  :  2
row  3244  :  0
row  3245  :  1
row  3246  :  2
row  3247  :  1
row  3248  :  4
row  3249  :  1
row  3250  :  1
row  3251  :  1
row  3252  :  1
row  3253  :  1
row  3254  :  3
row  3255  :  0
row  3256  :  1
row  3257  :  2
row  3258  :  1
row  3259  :  0
row  3260  :  0
row  3261  :  2
row  3262  :  0
row  3263  :  2
row  3264  :  0
row  3265  :  0
row  3266  :  1
row  3267  :  0
row  3268  :  1
row  3269  :  1
row  3270  :  2
row  3271  :  0
row  3272  :  2
row  3273  :  2
row  3274  :  0
row  3275  :  1
row  3276  :  0
row  3277  :  0
row  3278  :  0
row  3279  :  0
row  3280  :  0
row  3281  :  0
row  3282  :  1
row  3283  :  3
row  3284  :  0
row  3285  :  0
row  3286  :  0
row  3287  :  0
row  3288  :  0
row  3289  :  0
row  3290  :  0
row  3291  :  0
row  3292  :  0
row  3293  :  1
row  3294  :  0
row  3295  :  1
row  3296  :  0
row  3297  :  1
row  3298  :  1
row  3299  :  0
row  3300  :  0
row  3301  :  0
row  3302  :  1
row  3303  :  5
row  3304  :  1
row  3305  :  0
row  3306  :  0
row  3307  :  0
row  3308  :  1
row  3309  :  1
row  3310  :  0
row  3311  :  0
row  3312  :  0
row  3313  :  4
row  3314  :  0
row  3315  :  0
row  3316  :  0
row  3317  :  1
row  3318  :  0
row  3319  :  0
row  3320  :  2
row  3321  :  1
row  3322  :  1
row  3323  :  0
row  3324  :  2
row  3325  :  1
row  3326  :  1

row  3327  :  1
row  3328  :  0
row  3329  :  5
row  3330  :  0
row  3331  :  1
row  3332  :  0
row  3333  :  0
row  3334  :  0
row  3335  :  1
row  3336  :  1
row  3337  :  0
row  3338  :  1
row  3339  :  0
row  3340  :  0
row  3341  :  1
row  3342  :  2
row  3343  :  0
row  3344  :  0
row  3345  :  0
row  3346  :  4
row  3347  :  0
row  3348  :  3
row  3349  :  1
row  3350  :  2
row  3351  :  0
row  3352  :  1
row  3353  :  0
row  3354  :  2
row  3355  :  0
row  3356  :  1
row  3357  :  0
row  3358  :  0
row  3359  :  0
row  3360  :  0
row  3361  :  0
row  3362  :  0
row  3363  :  0
row  3364  :  0
row  3365  :  0
row  3366  :  0
row  3367  :  0
row  3368  :  0
row  3369  :  0
row  3370  :  1
row  3371  :  0
row  3372  :  1
row  3373  :  5
row  3374  :  0
row  3375  :  0
row  3376  :  5
row  3377  :  0
row  3378  :  0
row  3379  :  1
row  3380  :  0
row  3381  :  0
row  3382  :  0
row  3383  :  0
row  3384  :  0
row  3385  :  1
row  3386  :  0
row  3387  :  1
row  3388  :  0
row  3389  :  0
row  3390  :  1
row  3391  :  0
row  3392  :  0
row  3393  :  1
row  3394  :  0
row  3395  :  0
row  3396  :  1
row  3397  :  6
row  3398  :  0
row  3399  :  0
row  3400  :  0
row  3401  :  0
row  3402  :  0
row  3403  :  0
row  3404  :  0
row  3405  :  0
row  3406  :  0
row  3407  :  1
row  3408  :  0
row  3409  :  0
row  3410  :  0
row  3411  :  0
row  3412  :  3
row  3413  :  0
row  3414  :  1
row  3415  :  0
row  3416  :  0
row  3417  :  0
row  3418  :  0
row  3419  :  7
row  3420  :  0
row  3421  :  0
row  3422  :  1
row  3423  :  0
row  3424  :  1
row  3425  :  1
row  3426  :  2
row  3427  :  3
row  3428  :  0
row  3429  :  2
row  3430  :  1
row  3431  :  2
row  3432  :  0
row  3433  :  2
row  3434  :  0
row  3435  :  0
row  3436  :  0
row  3437  :  2
row  3438  :  0
row  3439  :  0
row  3440  :  0
row  3441  :  1
row  3442  :  0
row  3443  :  0
row  3444  :  0
row  3445  :  0
row  3446  :  1
row  3447  :  0
row  3448  :  1
row  3449  :  2
row  3450  :  0
row  3451  :  4
row  3452  :  0
row  3453  :  0
row  3454  :  3
row  3455  :  2
row  3456  :  0
row  3457  :  1
row  3458  :  2
row  3459  :  0
row  3460  :  0
row  3461  :  0
row  3462  :  0
row  3463  :  0
row  3464  :  1
row  3465  :  0
row  3466  :  0
row  3467  :  0
row  3468  :  0
row  3469  :  0
row  3470  :  0
row  3471  :  0
row  3472  :  0
row  3473  :  0
row  3474  :  1
row  3475  :  0
row  3476  :  0
row  3477  :  0
row  3478  :  0
row  3479  :  0
row  3480  :  0
row  3481  :  5
row  3482  :  0
row  3483  :  0
row  3484  :  0
row  3485  :  0
row  3486  :  2
row  3487  :  0
row  3488  :  0
row  3489  :  0
row  3490  :  4
row  3491  :  0
row  3492  :  0
row  3493  :  0
row  3494  :  0
row  3495  :  2
row  3496  :  0
row  3497  :  0
row  3498  :  0
row  3499  :  1
row  3500  :  0
row  3501  :  0
row  3502  :  0
row  3503  :  0
row  3504  :  0
row  3505  :  0
row  3506  :  0
row  3507  :  6
row  3508  :  0
row  3509  :  5
row  3510  :  1
row  3511  :  0
row  3512  :  0
row  3513  :  0
row  3514  :  0
row  3515  :  0
row  3516  :  0
row  3517  :  2
row  3518  :  0
row  3519  :  2
row  3520  :  0
row  3521  :  0
row  3522  :  0
row  3523  :  0
row  3524  :  1
row  3525  :  0
row  3526  :  0
row  3527  :  1
row  3528  :  2
row  3529  :  0
row  3530  :  0
row  3531  :  0
row  3532  :  1
row  3533  :  0
row  3534  :  0
row  3535  :  1
row  3536  :  3
row  3537  :  1
row  3538  :  2
row  3539  :  5
row  3540  :  0
row  3541  :  3
row  3542  :  0
row  3543  :  1
row  3544  :  3
row  3545  :  2
row  3546  :  1
row  3547  :  0
row  3548  :  0
row  3549  :  0
row  3550  :  0
row  3551  :  0
row  3552  :  1
row  3553  :  0
row  3554  :  0
row  3555  :  0
row  3556  :  0
row  3557  :  0
row  3558  :  2
row  3559  :  0
row  3560  :  0
row  3561  :  0
row  3562  :  0
row  3563  :  1
row  3564  :  0
row  3565  :  0
row  3566  :  0
row  3567  :  0
row  3568  :  0
row  3569  :  0
row  3570  :  0
row  3571  :  1
row  3572  :  0
row  3573  :  1
row  3574  :  0
row  3575  :  0
row  3576  :  0
row  3577  :  0
row  3578  :  1
row  3579  :  6
row  3580  :  0
row  3581  :  0
row  3582  :  0
row  3583  :  0
row  3584  :  0
row  3585  :  0
row  3586  :  0
row  3587  :  0
row  3588  :  0
row  3589  :  0
row  3590  :  0
row  3591  :  0
row  3592  :  0
row  3593  :  0
row  3594  :  0
row  3595  :  0
row  3596  :  0
row  3597  :  0
row  3598  :  0
row  3599  :  0
row  3600  :  0
row  3601  :  1
row  3602  :  1
row  3603  :  0
row  3604  :  6
row  3605  :  0
row  3606  :  0
row  3607  :  0
row  3608  :  0
row  3609  :  0
row  3610  :  3
row  3611  :  0
row  3612  :  0
row  3613  :  0
row  3614  :  0
row  3615  :  0
row  3616  :  0
row  3617  :  0
row  3618  :  0
row  3619  :  1
row  3620  :  0
row  3621  :  0
row  3622  :  0
row  3623  :  5
row  3624  :  0
row  3625  :  0
row  3626  :  3
row  3627  :  0
row  3628  :  0
row  3629  :  1
row  3630  :  1
row  3631  :  0
row  3632  :  1
row  3633  :  1
row  3634  :  0
row  3635  :  0
row  3636  :  1
row  3637  :  0
row  3638  :  1
row  3639  :  0
row  3640  :  0
row  3641  :  1
row  3642  :  0
row  3643  :  2
row  3644  :  1
row  3645  :  1
row  3646  :  2
row  3647  :  0
row  3648  :  1
row  3649  :  1
row  3650  :  6
row  3651  :  1
row  3652  :  0
row  3653  :  1
row  3654  :  0
row  3655  :  0
row  3656  :  3
row  3657  :  1
row  3658  :  1
row  3659  :  0
row  3660  :  1
row  3661  :  5
row  3662  :  0
row  3663  :  0
row  3664  :  0
row  3665  :  2
row  3666  :  0
row  3667  :  2
row  3668  :  0
row  3669  :  0
row  3670  :  0
row  3671  :  0
row  3672  :  0
row  3673  :  1
row  3674  :  0
row  3675  :  0
row  3676  :  2
row  3677  :  0
row  3678  :  0
row  3679  :  0
row  3680  :  0
row  3681  :  0
row  3682  :  0
row  3683  :  1
row  3684  :  0
row  3685  :  1
row  3686  :  3
row  3687  :  0
row  3688  :  0
row  3689  :  1
row  3690  :  0
row  3691  :  1
row  3692  :  0
row  3693  :  2
row  3694  :  1
row  3695  :  2
row  3696  :  0
row  3697  :  0
row  3698  :  0
row  3699  :  0
row  3700  :  0
row  3701  :  0
row  3702  :  0
row  3703  :  0
row  3704  :  0
row  3705  :  0
row  3706  :  0
row  3707  :  0
row  3708  :  1
row  3709  :  0
row  3710  :  0
row  3711  :  1
row  3712  :  0
row  3713  :  1
row  3714  :  0
row  3715  :  0
row  3716  :  0
row  3717  :  0
row  3718  :  0
row  3719  :  0
row  3720  :  0
row  3721  :  0
row  3722  :  1
row  3723  :  0
row  3724  :  0
row  3725  :  1
row  3726  :  0
row  3727  :  1
row  3728  :  0
row  3729  :  0
row  3730  :  0
row  3731  :  0
row  3732  :  0
row  3733  :  0
row  3734  :  1
row  3735  :  1
row  3736  :  0
row  3737  :  0
row  3738  :  0
row  3739  :  0
row  3740  :  0
row  3741  :  0
row  3742  :  0
row  3743  :  0
row  3744  :  0
row  3745  :  0
row  3746  :  0
row  3747  :  0
row  3748  :  0
row  3749  :  0
row  3750  :  0
row  3751  :  1
row  3752  :  2
row  3753  :  1
row  3754  :  0
row  3755  :  1
row  3756  :  2
row  3757  :  0
row  3758  :  0
row  3759  :  0
row  3760  :  1
row  3761  :  0
row  3762  :  1
row  3763  :  0
row  3764  :  1
row  3765  :  0
row  3766  :  1
row  3767  :  0
row  3768  :  0
row  3769  :  1
row  3770  :  1
row  3771  :  0
row  3772  :  0
row  3773  :  0
row  3774  :  2
row  3775  :  0
row  3776  :  0
row  3777  :  0
row  3778  :  0
row  3779  :  0
row  3780  :  0
row  3781  :  0
row  3782  :  0
row  3783  :  0
row  3784  :  0
row  3785  :  1
row  3786  :  1
row  3787  :  0
row  3788  :  0
row  3789  :  2
row  3790  :  1
row  3791  :  1
row  3792  :  1
row  3793  :  0
row  3794  :  1
row  3795  :  0
row  3796  :  1
row  3797  :  1
row  3798  :  0
row  3799  :  0
row  3800  :  5
row  3801  :  2
row  3802  :  1
row  3803  :  1
row  3804  :  1
row  3805  :  2
row  3806  :  5
row  3807  :  5
row  3808  :  1
row  3809  :  2
row  3810  :  4
row  3811  :  2
row  3812  :  1
row  3813  :  2
row  3814  :  1
row  3815  :  5
row  3816  :  6
row  3817  :  2
row  3818  :  4
row  3819  :  0
row  3820  :  1
row  3821  :  0
row  3822  :  1
row  3823  :  0
row  3824  :  0
row  3825  :  0
row  3826  :  0
row  3827  :  1
row  3828  :  2
row  3829  :  0
row  3830  :  1
row  3831  :  0
row  3832  :  4
row  3833  :  2
row  3834  :  6
row  3835  :  1
row  3836  :  1
row  3837  :  0
row  3838  :  4
row  3839  :  0
row  3840  :  2
row  3841  :  0
row  3842  :  1
row  3843  :  0
row  3844  :  1
row  3845  :  1
row  3846  :  0
row  3847  :  7
row  3848  :  0
row  3849  :  0
row  3850  :  2
row  3851  :  0
row  3852  :  1
row  3853  :  1
row  3854  :  0
row  3855  :  1
row  3856  :  0
row  3857  :  0
row  3858  :  1
row  3859  :  0
row  3860  :  2
row  3861  :  0
row  3862  :  0
row  3863  :  1
row  3864  :  1
row  3865  :  0
row  3866  :  5
row  3867  :  0
row  3868  :  1

row  3869  :  2
row  3870  :  2
row  3871  :  5
row  3872  :  2
row  3873  :  0
row  3874  :  1
row  3875  :  1
row  3876  :  0
row  3877  :  1
row  3878  :  2
row  3879  :  0
row  3880  :  1
row  3881  :  6
row  3882  :  1
row  3883  :  0
row  3884  :  0
row  3885  :  0
row  3886  :  0
row  3887  :  1
row  3888  :  0
row  3889  :  0
row  3890  :  0
row  3891  :  0
row  3892  :  0
row  3893  :  0
row  3894  :  0
row  3895  :  2
row  3896  :  1
row  3897  :  1
row  3898  :  0
row  3899  :  1
row  3900  :  5
row  3901  :  0
row  3902  :  0
row  3903  :  1
row  3904  :  1
row  3905  :  0
row  3906  :  0
row  3907  :  0
row  3908  :  0
row  3909  :  0
row  3910  :  0
row  3911  :  0
row  3912  :  1
row  3913  :  0
row  3914  :  1
row  3915  :  0
row  3916  :  0
row  3917  :  0
row  3918  :  0
row  3919  :  1
row  3920  :  1
row  3921  :  0
row  3922  :  0
row  3923  :  0
row  3924  :  0
row  3925  :  0
row  3926  :  0
row  3927  :  0
row  3928  :  0
row  3929  :  1
row  3930  :  0
row  3931  :  0
row  3932  :  0
row  3933  :  1
row  3934  :  1
row  3935  :  0
row  3936  :  0
row  3937  :  2
row  3938  :  0
row  3939  :  0
row  3940  :  0
row  3941  :  0
row  3942  :  0
row  3943  :  1
row  3944  :  0
row  3945  :  0
row  3946  :  1
row  3947  :  0
row  3948  :  1
row  3949  :  0
row  3950  :  0
row  3951  :  5
row  3952  :  0
row  3953  :  0
row  3954  :  1
row  3955  :  1
row  3956  :  2
row  3957  :  3
row  3958  :  1
row  3959  :  1
row  3960  :  1
row  3961  :  2
row  3962  :  1
row  3963  :  2
row  3964  :  2
row  3965  :  2
row  3966  :  2
row  3967  :  1
row  3968  :  1
row  3969  :  1
row  3970  :  0
row  3971  :  0
row  3972  :  0
row  3973  :  2
row  3974  :  0
row  3975  :  1
row  3976  :  1
row  3977  :  0
row  3978  :  0
row  3979  :  0
row  3980  :  0
row  3981  :  0
row  3982  :  5
row  3983  :  1
row  3984  :  0
row  3985  :  0
row  3986  :  1
row  3987  :  0
row  3988  :  0
row  3989  :  5
row  3990  :  0
row  3991  :  1
row  3992  :  1
row  3993  :  1
row  3994  :  1
row  3995  :  1
row  3996  :  0
row  3997  :  0
row  3998  :  0
row  3999  :  0
row  4000  :  0
row  4001  :  1
row  4002  :  2
row  4003  :  0
row  4004  :  0
row  4005  :  1
row  4006  :  0
row  4007  :  0
row  4008  :  0
row  4009  :  0
row  4010  :  0
row  4011  :  0
row  4012  :  1
row  4013  :  2
row  4014  :  1
row  4015  :  7
row  4016  :  2
row  4017  :  2
row  4018  :  3
row  4019  :  1
row  4020  :  1
row  4021  :  3
row  4022  :  1
row  4023  :  1
row  4024  :  0
row  4025  :  0
row  4026  :  2
row  4027  :  0
row  4028  :  0
row  4029  :  0
row  4030  :  0
row  4031  :  2
row  4032  :  1
row  4033  :  0
row  4034  :  1
row  4035  :  0
row  4036  :  1
row  4037  :  2
row  4038  :  1
row  4039  :  1
row  4040  :  1
row  4041  :  1
row  4042  :  1
row  4043  :  0
row  4044  :  0
row  4045  :  1
row  4046  :  0
row  4047  :  0
row  4048  :  1
row  4049  :  1
row  4050  :  0
row  4051  :  0
row  4052  :  0
row  4053  :  0
row  4054  :  0
row  4055  :  1
row  4056  :  0
row  4057  :  0
row  4058  :  0
row  4059  :  0
row  4060  :  0
row  4061  :  1
row  4062  :  1
row  4063  :  0
row  4064  :  1
row  4065  :  0
row  4066  :  0
row  4067  :  0
row  4068  :  1
row  4069  :  1
row  4070  :  0
row  4071  :  1
row  4072  :  0
row  4073  :  1
row  4074  :  2
row  4075  :  0
row  4076  :  1
row  4077  :  1
row  4078  :  1
row  4079  :  5
row  4080  :  1
row  4081  :  0
row  4082  :  0
row  4083  :  0
row  4084  :  0
row  4085  :  2
row  4086  :  0
row  4087  :  7
row  4088  :  1
row  4089  :  0
row  4090  :  0
row  4091  :  0
row  4092  :  1
row  4093  :  1
row  4094  :  0
row  4095  :  0
row  4096  :  1
row  4097  :  0
row  4098  :  0
row  4099  :  0
row  4100  :  1
row  4101  :  0
row  4102  :  1
row  4103  :  0
row  4104  :  0
row  4105  :  0
row  4106  :  0
row  4107  :  0
row  4108  :  2
row  4109  :  1
row  4110  :  2
row  4111  :  1
row  4112  :  1
row  4113  :  6
row  4114  :  0
row  4115  :  6
row  4116  :  3
row  4117  :  0
row  4118  :  0
row  4119  :  6
row  4120  :  0
row  4121  :  2
row  4122  :  0
row  4123  :  0
row  4124  :  0
row  4125  :  1
row  4126  :  2
row  4127  :  1
row  4128  :  0
row  4129  :  2
row  4130  :  1
row  4131  :  2
row  4132  :  2
row  4133  :  1
row  4134  :  1
row  4135  :  1
row  4136  :  3
row  4137  :  2
row  4138  :  3
row  4139  :  2
row  4140  :  2
row  4141  :  0
row  4142  :  1
row  4143  :  2
row  4144  :  0
row  4145  :  1
row  4146  :  3
row  4147  :  0
row  4148  :  3
row  4149  :  1
row  4150  :  1
row  4151  :  0
row  4152  :  2
row  4153  :  1
row  4154  :  0
row  4155  :  0
row  4156  :  0
row  4157  :  0
row  4158  :  0
row  4159  :  0
row  4160  :  1
row  4161  :  0
row  4162  :  1
row  4163  :  4
row  4164  :  2
row  4165  :  1
row  4166  :  2
row  4167  :  1
row  4168  :  0
row  4169  :  0
row  4170  :  1
row  4171  :  0
row  4172  :  1
row  4173  :  0
row  4174  :  2
row  4175  :  0
row  4176  :  2
row  4177  :  1
row  4178  :  1
row  4179  :  3
row  4180  :  0
row  4181  :  0
row  4182  :  0
row  4183  :  0
row  4184  :  0
row  4185  :  1
row  4186  :  1
row  4187  :  0
row  4188  :  0
row  4189  :  0
row  4190  :  0
row  4191  :  2
row  4192  :  0
row  4193  :  1
row  4194  :  1
row  4195  :  0
row  4196  :  0
row  4197  :  0
row  4198  :  2
row  4199  :  0
row  4200  :  0
row  4201  :  2
row  4202  :  0
row  4203  :  0
row  4204  :  0
row  4205  :  0
row  4206  :  0
row  4207  :  0
row  4208  :  0
row  4209  :  2
row  4210  :  1
row  4211  :  4
row  4212  :  0
row  4213  :  0
row  4214  :  1
row  4215  :  4
row  4216  :  0
row  4217  :  1
row  4218  :  1
row  4219  :  0
row  4220  :  1
row  4221  :  1
row  4222  :  1
row  4223  :  3
row  4224  :  2
row  4225  :  2
row  4226  :  1
row  4227  :  4
row  4228  :  0
row  4229  :  0
row  4230  :  0
row  4231  :  1
row  4232  :  2
row  4233  :  1
row  4234  :  3
row  4235  :  2
row  4236  :  3
row  4237  :  1
row  4238  :  0
row  4239  :  1
row  4240  :  0
row  4241  :  1
row  4242  :  1
row  4243  :  3
row  4244  :  3
row  4245  :  4
row  4246  :  3
row  4247  :  0
row  4248  :  0
row  4249  :  6
row  4250  :  1
row  4251  :  0
row  4252  :  1
row  4253  :  1
row  4254  :  0
row  4255  :  0
row  4256  :  1
row  4257  :  0
row  4258  :  0
row  4259  :  0
row  4260  :  0
row  4261  :  1
row  4262  :  1
row  4263  :  0
row  4264  :  0
row  4265  :  1
row  4266  :  0
row  4267  :  0
row  4268  :  0
row  4269  :  1
row  4270  :  0
row  4271  :  1
row  4272  :  1
row  4273  :  0
row  4274  :  1
row  4275  :  0
row  4276  :  1
row  4277  :  0
row  4278  :  0
row  4279  :  0
row  4280  :  0
row  4281  :  5
row  4282  :  0
row  4283  :  0
row  4284  :  0
row  4285  :  0
row  4286  :  1
row  4287  :  0
row  4288  :  6
row  4289  :  0
row  4290  :  1
row  4291  :  0
row  4292  :  1
row  4293  :  2
row  4294  :  0
row  4295  :  1
row  4296  :  0
row  4297  :  1
row  4298  :  0
row  4299  :  5
row  4300  :  1
row  4301  :  0
row  4302  :  2
row  4303  :  0
row  4304  :  5
row  4305  :  1
row  4306  :  2
row  4307  :  2
row  4308  :  1
row  4309  :  1
row  4310  :  1
row  4311  :  0
row  4312  :  0
row  4313  :  0
row  4314  :  3
row  4315  :  1
row  4316  :  1
row  4317  :  2
row  4318  :  0
row  4319  :  1
row  4320  :  1
row  4321  :  2
row  4322  :  1
row  4323  :  6
row  4324  :  1
row  4325  :  3
row  4326  :  1
row  4327  :  6
row  4328  :  0
row  4329  :  1
row  4330  :  1
row  4331  :  2
row  4332  :  2
row  4333  :  0
row  4334  :  2
row  4335  :  2
row  4336  :  2
row  4337  :  1
row  4338  :  3
row  4339  :  2
row  4340  :  2
row  4341  :  4
row  4342  :  2
row  4343  :  0
row  4344  :  0
row  4345  :  1
row  4346  :  0
row  4347  :  1
row  4348  :  2
row  4349  :  0
row  4350  :  0
row  4351  :  3
row  4352  :  0
row  4353  :  0
row  4354  :  5
row  4355  :  0
row  4356  :  0
row  4357  :  1
row  4358  :  1
row  4359  :  1
row  4360  :  0
row  4361  :  0
row  4362  :  1
row  4363  :  0
row  4364  :  1
row  4365  :  4
row  4366  :  1
row  4367  :  1
row  4368  :  1
row  4369  :  1
row  4370  :  3
row  4371  :  1
row  4372  :  7
row  4373  :  2
row  4374  :  1
row  4375  :  0
row  4376  :  0
row  4377  :  2
row  4378  :  1
row  4379  :  1
row  4380  :  1
row  4381  :  0
row  4382  :  0
row  4383  :  0
row  4384  :  0
row  4385  :  0
row  4386  :  0
row  4387  :  1
row  4388  :  1
row  4389  :  1

row  4390  :  2
row  4391  :  1
row  4392  :  2
row  4393  :  0
row  4394  :  2
row  4395  :  1
row  4396  :  1
row  4397  :  4
row  4398  :  0
row  4399  :  0
row  4400  :  3
row  4401  :  0
row  4402  :  0
row  4403  :  0
row  4404  :  1
row  4405  :  1
row  4406  :  0
row  4407  :  0
row  4408  :  1
row  4409  :  6
row  4410  :  1
row  4411  :  0
row  4412  :  0
row  4413  :  0
row  4414  :  1
row  4415  :  0
row  4416  :  1
row  4417  :  0
row  4418  :  0
row  4419  :  0
row  4420  :  0
row  4421  :  1
row  4422  :  2
row  4423  :  0
row  4424  :  0
row  4425  :  3
row  4426  :  1
row  4427  :  0
row  4428  :  0
row  4429  :  0
row  4430  :  1
row  4431  :  2
row  4432  :  1
row  4433  :  1
row  4434  :  0
row  4435  :  0
row  4436  :  6
row  4437  :  0
row  4438  :  1
row  4439  :  1
row  4440  :  3
row  4441  :  3
row  4442  :  2
row  4443  :  4
row  4444  :  3
row  4445  :  3
row  4446  :  0
row  4447  :  2
row  4448  :  3
row  4449  :  0
row  4450  :  0
row  4451  :  1
row  4452  :  0
row  4453  :  3
row  4454  :  2
row  4455  :  1
row  4456  :  2
row  4457  :  1
row  4458  :  0
row  4459  :  5
row  4460  :  8
row  4461  :  0
row  4462  :  0
row  4463  :  0
row  4464  :  0
row  4465  :  1
row  4466  :  0
row  4467  :  5
row  4468  :  1
row  4469  :  1
row  4470  :  0
row  4471  :  1
row  4472  :  1
row  4473  :  2
row  4474  :  1
row  4475  :  0
row  4476  :  1
row  4477  :  1
row  4478  :  1
row  4479  :  1
row  4480  :  1
row  4481  :  1
row  4482  :  6
row  4483  :  2
row  4484  :  0
row  4485  :  0
row  4486  :  0
row  4487  :  2
row  4488  :  2
row  4489  :  0
row  4490  :  0
row  4491  :  0
row  4492  :  1
row  4493  :  0
row  4494  :  0
row  4495  :  0
row  4496  :  0
row  4497  :  2
row  4498  :  0
row  4499  :  0
row  4500  :  0
row  4501  :  0
row  4502  :  7
row  4503  :  2
row  4504  :  2
row  4505  :  3
row  4506  :  2
row  4507  :  2
row  4508  :  1
row  4509  :  3
row  4510  :  2
row  4511  :  0
row  4512  :  1
row  4513  :  2
row  4514  :  3
row  4515  :  0
row  4516  :  1
row  4517  :  7
row  4518  :  0
row  4519  :  8
row  4520  :  1
row  4521  :  1
row  4522  :  0
row  4523  :  0
row  4524  :  1
row  4525  :  2
row  4526  :  1
row  4527  :  1
row  4528  :  4
row  4529  :  1
row  4530  :  0
row  4531  :  1
row  4532  :  0
row  4533  :  1
row  4534  :  0
row  4535  :  1
row  4536  :  0
row  4537  :  0
row  4538  :  0
row  4539  :  0
row  4540  :  0
row  4541  :  0
row  4542  :  0
row  4543  :  0
row  4544  :  0
row  4545  :  0
row  4546  :  0
row  4547  :  2
row  4548  :  3
row  4549  :  1
row  4550  :  1
row  4551  :  0
row  4552  :  2
row  4553  :  0
row  4554  :  1
row  4555  :  2
row  4556  :  0
row  4557  :  0
row  4558  :  1
row  4559  :  1
row  4560  :  1
row  4561  :  0
row  4562  :  0
row  4563  :  0
row  4564  :  0
row  4565  :  0
row  4566  :  0
row  4567  :  0
row  4568  :  1
row  4569  :  0
row  4570  :  0
row  4571  :  0
row  4572  :  1
row  4573  :  1
row  4574  :  0
row  4575  :  0
row  4576  :  0
row  4577  :  0
row  4578  :  1
row  4579  :  1
row  4580  :  2
row  4581  :  0
row  4582  :  1
row  4583  :  0
row  4584  :  0
row  4585  :  0
row  4586  :  0
row  4587  :  0
row  4588  :  3
row  4589  :  2
row  4590  :  0
row  4591  :  1
row  4592  :  0
row  4593  :  2
row  4594  :  0
row  4595  :  0
row  4596  :  0
row  4597  :  2
row  4598  :  1
row  4599  :  0
row  4600  :  2
row  4601  :  0
row  4602  :  0
row  4603  :  0
row  4604  :  2
row  4605  :  1
row  4606  :  0
row  4607  :  0
row  4608  :  1
row  4609  :  4
row  4610  :  1
row  4611  :  2
row  4612  :  2
row  4613  :  1
row  4614  :  3
row  4615  :  3
row  4616  :  2
row  4617  :  5
row  4618  :  1
row  4619  :  1
row  4620  :  2
row  4621  :  2
row  4622  :  4
row  4623  :  1
row  4624  :  2
row  4625  :  1
row  4626  :  3
row  4627  :  4
row  4628  :  1
row  4629  :  1
row  4630  :  5
row  4631  :  0
row  4632  :  2
row  4633  :  2
row  4634  :  8
row  4635  :  2
row  4636  :  3
row  4637  :  3
row  4638  :  0
row  4639  :  0
row  4640  :  0
row  4641  :  3
row  4642  :  0
row  4643  :  0
row  4644  :  1
row  4645  :  0
row  4646  :  0
row  4647  :  1
row  4648  :  1
row  4649  :  0
row  4650  :  0
row  4651  :  2
row  4652  :  2
row  4653  :  0
row  4654  :  1
row  4655  :  0
row  4656  :  1
row  4657  :  3
row  4658  :  4
row  4659  :  0
row  4660  :  4
row  4661  :  0
row  4662  :  0
row  4663  :  0
row  4664  :  1
row  4665  :  2
row  4666  :  2
row  4667  :  0
row  4668  :  2
row  4669  :  2
row  4670  :  2
row  4671  :  0
row  4672  :  1
row  4673  :  4
row  4674  :  0
row  4675  :  2
row  4676  :  0
row  4677  :  0
row  4678  :  1
row  4679  :  0
row  4680  :  0
row  4681  :  0
row  4682  :  1
row  4683  :  0
row  4684  :  0
row  4685  :  1
row  4686  :  1
row  4687  :  1
row  4688  :  0
row  4689  :  1
row  4690  :  5
row  4691  :  0
row  4692  :  2
row  4693  :  3
row  4694  :  0
row  4695  :  0
row  4696  :  0
row  4697  :  1
row  4698  :  1
row  4699  :  2
row  4700  :  1
row  4701  :  3
row  4702  :  3
row  4703  :  1
row  4704  :  3
row  4705  :  3
row  4706  :  0
row  4707  :  0
row  4708  :  0
row  4709  :  1
row  4710  :  0
row  4711  :  2
row  4712  :  0
row  4713  :  5
row  4714  :  4
row  4715  :  3
row  4716  :  3
row  4717  :  4
row  4718  :  4
row  4719  :  0
row  4720  :  8
row  4721  :  2
row  4722  :  3
row  4723  :  0
row  4724  :  2
row  4725  :  0
row  4726  :  0
row  4727  :  4
row  4728  :  0
row  4729  :  1
row  4730  :  0
row  4731  :  0
row  4732  :  1
row  4733  :  0
row  4734  :  1
row  4735  :  0
row  4736  :  0
row  4737  :  0
row  4738  :  1
row  4739  :  0
row  4740  :  0
row  4741  :  0
row  4742  :  0
row  4743  :  0
row  4744  :  0
row  4745  :  1
row  4746  :  2
row  4747  :  0
row  4748  :  1
row  4749  :  1
row  4750  :  0
row  4751  :  0
row  4752  :  0
row  4753  :  0
row  4754  :  0
row  4755  :  0
row  4756  :  2
row  4757  :  1
row  4758  :  0
row  4759  :  2
row  4760  :  2
row  4761  :  1
row  4762  :  1
row  4763  :  4
row  4764  :  3
row  4765  :  2
row  4766  :  1
row  4767  :  7
row  4768  :  3
row  4769  :  0
row  4770  :  2
row  4771  :  2
row  4772  :  2
row  4773  :  2
row  4774  :  4
row  4775  :  3
row  4776  :  2
row  4777  :  3
row  4778  :  0
row  4779  :  1
row  4780  :  0
row  4781  :  0
row  4782  :  2
row  4783  :  0
row  4784  :  0
row  4785  :  3
row  4786  :  0
row  4787  :  3
row  4788  :  0
row  4789  :  1
row  4790  :  3
row  4791  :  0
row  4792  :  0
row  4793  :  0
row  4794  :  1
row  4795  :  0
row  4796  :  0
row  4797  :  1
row  4798  :  5
row  4799  :  0
row  4800  :  1
row  4801  :  3
row  4802  :  0
row  4803  :  5
row  4804  :  0
row  4805  :  1
row  4806  :  1
row  4807  :  2
row  4808  :  1
row  4809  :  1
row  4810  :  2
row  4811  :  1
row  4812  :  0
row  4813  :  1
row  4814  :  0
row  4815  :  6
row  4816  :  0
row  4817  :  0
row  4818  :  2
row  4819  :  5
row  4820  :  2
row  4821  :  0
row  4822  :  1
row  4823  :  2
row  4824  :  1
row  4825  :  1
row  4826  :  1
row  4827  :  0
row  4828  :  0
row  4829  :  0
row  4830  :  0
row  4831  :  3
row  4832  :  0
row  4833  :  0
row  4834  :  2
row  4835  :  1
row  4836  :  5
row  4837  :  7
row  4838  :  1
row  4839  :  1
row  4840  :  0
row  4841  :  2
row  4842  :  0
row  4843  :  4
row  4844  :  1
row  4845  :  0
row  4846  :  4
row  4847  :  2
row  4848  :  1
row  4849  :  1
row  4850  :  2
row  4851  :  0
row  4852  :  0
row  4853  :  0
row  4854  :  3
row  4855  :  0
row  4856  :  0
row  4857  :  0
row  4858  :  0
row  4859  :  6
row  4860  :  0
row  4861  :  1
row  4862  :  0
row  4863  :  0
row  4864  :  0
row  4865  :  3
row  4866  :  1
row  4867  :  2
row  4868  :  0
row  4869  :  5
row  4870  :  3
row  4871  :  1
row  4872  :  2
row  4873  :  1
row  4874  :  2
row  4875  :  2
row  4876  :  3
row  4877  :  2
row  4878  :  6
row  4879  :  2
row  4880  :  3
row  4881  :  2
row  4882  :  3
row  4883  :  3
row  4884  :  3
row  4885  :  2
row  4886  :  3
row  4887  :  3
row  4888  :  1
row  4889  :  3
row  4890  :  0
row  4891  :  0
row  4892  :  1
row  4893  :  0
row  4894  :  1
row  4895  :  1
row  4896  :  0
row  4897  :  0
row  4898  :  1
row  4899  :  1
row  4900  :  1
row  4901  :  1
row  4902  :  1
row  4903  :  2
row  4904  :  1
row  4905  :  0
row  4906  :  1
row  4907  :  3
row  4908  :  1
row  4909  :  1
row  4910  :  5
row  4911  :  3
row  4912  :  2
row  4913  :  1
row  4914  :  1
row  4915  :  0
row  4916  :  2
row  4917  :  1
row  4918  :  4
row  4919  :  5
row  4920  :  3
row  4921  :  0
row  4922  :  0
row  4923  :  0
row  4924  :  5
row  4925  :  4
row  4926  :  0
row  4927  :  3
row  4928  :  0
row  4929  :  5
row  4930  :  0
row  4931  :  0
row  4932  :  2
row  4933  :  0
row  4934  :  3
row  4935  :  3
row  4936  :  0

row  4937  :  1
row  4938  :  3
row  4939  :  3
row  4940  :  3
row  4941  :  0
row  4942  :  1
row  4943  :  2
row  4944  :  1
row  4945  :  11
row  4946  :  8
row  4947  :  1
row  4948  :  8
row  4949  :  2
row  4950  :  2
row  4951  :  1
row  4952  :  2
row  4953  :  2
row  4954  :  3
row  4955  :  0
row  4956  :  0
row  4957  :  1
row  4958  :  2
row  4959  :  0
row  4960  :  1
row  4961  :  1
row  4962  :  0
row  4963  :  2
row  4964  :  0
row  4965  :  1
row  4966  :  1
row  4967  :  2
row  4968  :  2
row  4969  :  3
row  4970  :  1
row  4971  :  0
row  4972  :  3
row  4973  :  0
row  4974  :  2
row  4975  :  0
row  4976  :  4
row  4977  :  0
row  4978  :  0
row  4979  :  0
row  4980  :  1
row  4981  :  1
row  4982  :  3
row  4983  :  1
row  4984  :  0
row  4985  :  3
row  4986  :  2
row  4987  :  0
row  4988  :  2
row  4989  :  6
row  4990  :  8
row  4991  :  2
row  4992  :  7
row  4993  :  1
row  4994  :  3
row  4995  :  1
row  4996  :  3
row  4997  :  0
row  4998  :  0
row  4999  :  4
row  5000  :  1
row  5001  :  1
row  5002  :  3
row  5003  :  2
row  5004  :  1
row  5005  :  2
row  5006  :  3
row  5007  :  2
row  5008  :  0
row  5009  :  2
row  5010  :  3
row  5011  :  0
row  5012  :  0
row  5013  :  2
row  5014  :  2
row  5015  :  0
row  5016  :  5
row  5017  :  2
row  5018  :  2
row  5019  :  2
row  5020  :  5
row  5021  :  1
row  5022  :  4
row  5023  :  2
row  5024  :  1
row  5025  :  0
row  5026  :  0
row  5027  :  0
row  5028  :  3
row  5029  :  1
row  5030  :  5
row  5031  :  3
row  5032  :  4
row  5033  :  0
row  5034  :  1
row  5035  :  0
row  5036  :  3
row  5037  :  1
row  5038  :  4
row  5039  :  5
row  5040  :  4
row  5041  :  2
row  5042  :  0

In [12]:
#code for column-wise null percentages here

round((movies.isnull().sum() / len(movies.index)*100),2)

color                         0.38
director_name                 2.06
num_critic_for_reviews        0.99
duration                      0.30
director_facebook_likes       2.06
actor_3_facebook_likes        0.46
actor_2_name                  0.26
actor_1_facebook_likes        0.14
gross                        17.53
genres                        0.00
actor_1_name                  0.14
movie_title                   0.00
num_voted_users               0.00
cast_total_facebook_likes     0.00
actor_3_name                  0.46
facenumber_in_poster          0.26
plot_keywords                 3.03
movie_imdb_link               0.00
num_user_for_reviews          0.42
language                      0.24
country                       0.10
content_rating                6.01
budget                        9.76
title_year                    2.14
actor_2_facebook_likes        0.26
imdb_score                    0.00
aspect_ratio                  6.52
movie_facebook_likes          0.00
dtype: float64

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [13]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations 
movies.drop(['color',
'director_facebook_likes',
'actor_1_facebook_likes',
'actor_2_facebook_likes',
'actor_3_facebook_likes',
'actor_2_name',
'cast_total_facebook_likes',
'actor_3_name',
'duration',
'facenumber_in_poster',
'content_rating',
'country',
'movie_imdb_link',
'aspect_ratio',
'plot_keywords'], axis=1,inplace=True)

In [14]:
#inspection after deleting the columns
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   director_name           4939 non-null   object
 1   num_critic_for_reviews  4993 non-null   float64
 2   gross                   4159 non-null   float64
 3   genres                  5043 non-null   object
 4   actor_1_name            5036 non-null   object
 5   movie_title             5043 non-null   object
 6   num_voted_users         5043 non-null   int64
 7   num_user_for_reviews    5022 non-null   float64
 8   language                5031 non-null   object
 9   budget                  4551 non-null   float64
 10  title_year              4935 non-null   float64
 11  imdb_score              5043 non-null   float64
 12  movie_facebook_likes    5043 non-null   int64
dtypes: float64(6), int64(2), object(5)
memory usage: 512.3+ KB

In [15]:
movies.describe()

,num_critic_for_reviews,gross,num_voted_users,num_user_for_reviews,budget,title_year,imdb_score,movie_facebook_likes
count,4993.000000,4.159000e+03,5.043000e+03,5022.000000,4.551000e+03,4935.000000,5043.000000,5043.000000
mean,140.194272,4.846841e+07,8.366816e+04,272.770808,3.975262e+07,2002.470517,6.442138,7525.964505
std,121.601675,6.845299e+07,1.384853e+05,377.982886,2.061149e+08,12.474599,1.125116,19320.445110
min,1.000000,1.620000e+02,5.000000e+00,1.000000,2.180000e+02,1916.000000,1.600000,0.000000
25%,50.000000,5.340988e+06,8.593500e+03,65.000000,6.000000e+06,1999.000000,5.800000,0.000000
50%,110.000000,2.551750e+07,3.435900e+04,156.000000,2.000000e+07,2005.000000,6.600000,166.000000
75%,195.000000,6.230944e+07,9.630900e+04,326.000000,4.500000e+07,2011.000000,7.200000,3000.000000
max,813.000000,7.605058e+08,1.689764e+06,5060.000000,1.221550e+10,2016.000000,9.500000,349000.000000

In [16]:
# inspection of null percentage again
round((movies.isnull().sum()/len(movies.index))*100,2)

director_name              2.06
num_critic_for_reviews     0.99
gross                     17.53
genres                     0.00
actor_1_name               0.14
movie_title                0.00
num_voted_users            0.00
num_user_for_reviews       0.42
language                   0.24
budget                     9.76
title_year                 2.14
imdb_score                 0.00
movie_facebook_likes       0.00
dtype: float64

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [17]:
#code for dropping the rows here
movies.dropna(subset=['gross'],inplace=True)
movies

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000
5,Andrew Stanton,462.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263700000.0,2012.0,6.6,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5034,Neill Dela Llana,35.0,70071.0,Thriller,Ian Gamazon,Cavite,589,35.0,English,7000.0,2005.0,6.3,74
5035,Robert Rodriguez,56.0,2040920.0,Action|Crime|Drama|Romance|Thriller,Carlos Gallardo,El Mariachi,52055,130.0,Spanish,7000.0,1992.0,6.9,0
5037,Edward Burns,14.0,4584.0,Comedy|Drama,Kerry BishÃ©,Newlyweds,1338,14.0,English,9000.0,2011.0,6.4,413
5041,Daniel Hsia,14.0,10443.0,Comedy|Drama|Romance,Alan Ruck,Shanghai Calling,1255,9.0,English,NaN,2012.0,6.3,660
5042,Jon Gunn,43.0,85222.0,Documentary,John August,My Date with Drew,4285,84.0,English,1100.0,2004.0,6.6,456

In [18]:
round((movies.isnull().sum()/len(movies.index))*100,2)

director_name             0.07
num_critic_for_reviews    0.07
gross                     0.00
genres                    0.00
actor_1_name              0.10
movie_title               0.00
num_voted_users           0.00
num_user_for_reviews      0.02
language                  0.07
budget                    6.44
title_year                0.07
imdb_score                0.00
movie_facebook_likes      0.00
dtype: float64

In [19]:
#still we need to delete the budget columns -> null rows
movies.dropna(subset=['budget'],inplace=True)
movies

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000
5,Andrew Stanton,462.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263700000.0,2012.0,6.6,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5033,Shane Carruth,143.0,424760.0,Drama|Sci-Fi|Thriller,Shane Carruth,Primer,72639,371.0,English,7000.0,2004.0,7.0,19000
5034,Neill Dela Llana,35.0,70071.0,Thriller,Ian Gamazon,Cavite,589,35.0,English,7000.0,2005.0,6.3,74
5035,Robert Rodriguez,56.0,2040920.0,Action|Crime|Drama|Romance|Thriller,Carlos Gallardo,El Mariachi,52055,130.0,Spanish,7000.0,1992.0,6.9,0
5037,Edward Burns,14.0,4584.0,Comedy|Drama,Kerry BishÃ©,Newlyweds,1338,14.0,English,9000.0,2011.0,6.4,413
5042,Jon Gunn,43.0,85222.0,Documentary,John August,My Date with Drew,4285,84.0,English,1100.0,2004.0,6.6,456

In [20]:
#inspecting null values column wise again
movies.isnull().sum()

director_name             0
num_critic_for_reviews    1
gross                     0
genres                    0
actor_1_name              3
movie_title               0
num_voted_users           0
num_user_for_reviews      0
language                  3
budget                    0
title_year                0
imdb_score                0
movie_facebook_likes      0
dtype: int64

In [21]:
#checking the null value percentage after deleting the columnns with rows having null values > 5%
round((movies.isnull().sum()/len(movies.index))*100,2)

director_name             0.00
num_critic_for_reviews    0.03
gross                     0.00
genres                    0.00
actor_1_name              0.08
movie_title               0.00
num_voted_users           0.00
num_user_for_reviews      0.00
language                  0.08
budget                    0.00
title_year                0.00
imdb_score                0.00
movie_facebook_likes      0.00
dtype: float64

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [22]:
# code for dropping the rows here
movies = movies[movies.isnull().sum(axis=1) <= 5]
movies

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000
5,Andrew Stanton,462.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263700000.0,2012.0,6.6,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5033,Shane Carruth,143.0,424760.0,Drama|Sci-Fi|Thriller,Shane Carruth,Primer,72639,371.0,English,7000.0,2004.0,7.0,19000
5034,Neill Dela Llana,35.0,70071.0,Thriller,Ian Gamazon,Cavite,589,35.0,English,7000.0,2005.0,6.3,74
5035,Robert Rodriguez,56.0,2040920.0,Action|Crime|Drama|Romance|Thriller,Carlos Gallardo,El Mariachi,52055,130.0,Spanish,7000.0,1992.0,6.9,0
5037,Edward Burns,14.0,4584.0,Comedy|Drama,Kerry BishÃ©,Newlyweds,1338,14.0,English,9000.0,2011.0,6.4,413
5042,Jon Gunn,43.0,85222.0,Documentary,John August,My Date with Drew,4285,84.0,English,1100.0,2004.0,6.6,456

In [23]:
#Finding of most ouccuring value in English column
movies['language'].mode()

0    English
dtype: object

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [24]:
# code for filling the NaN values in the 'language' column here
vals = {'language':'English'}
movies = movies.fillna(value = vals)
movies

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000
5,Andrew Stanton,462.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263700000.0,2012.0,6.6,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5033,Shane Carruth,143.0,424760.0,Drama|Sci-Fi|Thriller,Shane Carruth,Primer,72639,371.0,English,7000.0,2004.0,7.0,19000
5034,Neill Dela Llana,35.0,70071.0,Thriller,Ian Gamazon,Cavite,589,35.0,English,7000.0,2005.0,6.3,74
5035,Robert Rodriguez,56.0,2040920.0,Action|Crime|Drama|Romance|Thriller,Carlos Gallardo,El Mariachi,52055,130.0,Spanish,7000.0,1992.0,6.9,0
5037,Edward Burns,14.0,4584.0,Comedy|Drama,Kerry BishÃ©,Newlyweds,1338,14.0,English,9000.0,2011.0,6.4,413
5042,Jon Gunn,43.0,85222.0,Documentary,John August,My Date with Drew,4285,84.0,English,1100.0,2004.0,6.6,456

In [25]:
#inspection of percentage null values after filling NaN values of language column
round((movies.isnull().sum()/len(movies.index))*100,2)

director_name             0.00
num_critic_for_reviews    0.03
gross                     0.00
genres                    0.00
actor_1_name              0.08
movie_title               0.00
num_voted_users           0.00
num_user_for_reviews      0.00
language                  0.00
budget                    0.00
title_year                0.00
imdb_score                0.00
movie_facebook_likes      0.00
dtype: float64

-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [26]:
# code for checking number of retained rows here
# number of retained rows
len(movies.index)

3891

In [27]:
#percentage of retained rows
(len(movies.index)/OriginalLen)*100

77.15645449137418

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [28]:
#code for unit conversion here
movies['gross'] = movies['gross']/1000000
movies['budget'] = movies['budget']/1000000
movies[['gross','budget']]

           gross    budget
0     760.505847  237.0000
1     309.404152  300.0000
2     200.074175  245.0000
3     448.130642  250.0000
5      73.058679  263.7000
...          ...       ...
5033    0.424760    0.0070
5034    0.070071    0.0070
5035    2.040920    0.0070
5037    0.004584    0.0090
5042    0.085222    0.0011

[3891 rows x 2 columns]

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [29]:
# adding Profit column to the dataframe having difference of the gross and budget columns
movies['Profit'] = movies['gross'] - movies['budget']
movies['Profit']

0       523.505847
1         9.404152
2       -44.925825
3       198.130642
5      -190.641321
           ...
5033      0.417760
5034      0.063071
5035      2.033920
5037     -0.004416
5042      0.084122
Name: Profit, Length: 3891, dtype: float64

In [30]:
# code for sorting the dataframe here
movies.sort_values('Profit', ascending=False, inplace=True)
movies

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit
0,James Cameron,723.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.000000,2009.0,7.9,33000,523.505847
29,Colin Trevorrow,644.0,652.177271,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,150.000000,2015.0,7.0,150000,502.177271
26,James Cameron,315.0,658.672302,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200.000000,1997.0,7.7,26000,458.672302
3024,George Lucas,282.0,460.935665,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,11.000000,1977.0,8.7,33000,449.935665
3080,Steven Spielberg,215.0,434.949459,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,10.500000,1982.0,7.9,34000,424.449459
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2334,Katsuhiro Ã”tomo,105.0,0.410388,Action|Adventure|Animation|Family|Sci-Fi|Thriller,William Hootkins,Steamboy,13727,79.0,Japanese,2127.519898,2004.0,6.9,973,-2127.109510
2323,Hayao Miyazaki,174.0,2.298191,Adventure|Animation|Fantasy,Minnie Driver,Princess Mononoke,221552,570.0,Japanese,2400.000000,1997.0,8.4,11000,-2397.701809
3005,Lajos Koltai,73.0,0.195888,Drama|Romance|War,Marcell Nagy,Fateless,5603,45.0,Hungarian,2500.000000,2005.0,7.1,607,-2499.804112
3859,Chan-wook Park,202.0,0.211667,Crime|Drama,Min-sik Choi,Lady Vengeance,53508,131.0,Korean,4200.000000,2005.0,7.7,4000,-4199.788333
2988,Joon-ho Bong,363.0,2.201412,Comedy|Drama|Horror|Sci-Fi,Doona Bae,The Host,68883,279.0,Korean,12215.500000,2006.0,7.0,7000,-12213.298588

In [31]:
#top 10 profiting movies here

top10 = movies.head(10)
top10

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit
0,James Cameron,723.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.0,2009.0,7.9,33000,523.505847
29,Colin Trevorrow,644.0,652.177271,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,150.0,2015.0,7.0,150000,502.177271
26,James Cameron,315.0,658.672302,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200.0,1997.0,7.7,26000,458.672302
3024,George Lucas,282.0,460.935665,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,11.0,1977.0,8.7,33000,449.935665
3080,Steven Spielberg,215.0,434.949459,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,10.5,1982.0,7.9,34000,424.449459
794,Joss Whedon,703.0,623.279547,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,220.0,2012.0,8.1,123000,403.279547
17,Joss Whedon,703.0,623.279547,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,220.0,2012.0,8.1,123000,403.279547
509,Roger Allers,186.0,422.783777,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,The Lion King,644348,656.0,English,45.0,1994.0,8.5,17000,377.783777
240,George Lucas,320.0,474.544677,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode I - The Phantom Menace,534658,3597.0,English,115.0,1999.0,6.5,13000,359.544677
66,Christopher Nolan,645.0,533.316061,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,185.0,2008.0,9.0,37000,348.316061

In [32]:
# checking for duplcate rows
movies[movies.duplicated()]

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit
17,Joss Whedon,703.0,623.279547,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,220.0,2012.0,8.1,123000,403.279547
174,Bill Condon,322.0,292.298923,Adventure|Drama|Fantasy|Romance,Robert Pattinson,The Twilight Saga: Breaking Dawn - Part 2,185394,329.0,English,120.0,2012.0,5.5,65000,172.298923
395,Rob Cohen,187.0,144.512310,Action|Crime|Thriller,Paul Walker,The Fast and the Furious,272223,988.0,English,38.0,2001.0,6.7,14000,106.512310
2025,Herbert Ross,60.0,80.000000,Drama|Music|Romance,Dianne Wiest,Footloose,51459,113.0,English,8.2,1984.0,6.5,0,71.800000
656,Paul Verhoeven,196.0,119.412921,Action|Sci-Fi,Ronny Cox,Total Recall,240241,391.0,English,65.0,1990.0,7.5,0,54.412921
663,Angelina Jolie Pitt,322.0,115.603980,Biography|Drama|Sport|War,Finn Wittrock,Unbroken,103589,351.0,English,65.0,2014.0,7.2,35000,50.603980
3193,Paul Haggis,287.0,54.557348,Crime|Drama|Thriller,Don Cheadle,Crash,361169,1624.0,English,6.5,2004.0,7.9,18000,48.057348
2619,John Carpenter,318.0,47.000000,Horror|Thriller,Jamie Lee Curtis,Halloween,157857,1191.0,English,0.3,1978.0,7.9,12000,46.700000
3984,Peter Cattaneo,122.0,45.857453,Comedy|Drama|Music,Tom Wilkinson,The Full Monty,82232,174.0,English,3.5,1997.0,7.2,0,42.357453
2181,Jon Lucas,81.0,55.461307,Comedy,Mila Kunis,Bad Moms,4654,46.0,English,20.0,2016.0,6.7,18000,35.461307
1984,Ole Bornedal,264.0,49.122319,Horror|Thriller,Kyra Sedgwick,The Possession,47169,162.0,English,14.0,2012.0,5.9,17000,35.122319
2628,Shawn Levy,69.0,47.811275,Adventure|Comedy|Family,Frankie Muniz,Big Fat Liar,29008,99.0,English,15.0,2002.0,5.4,896,32.811275
2935,Tamra Davis,111.0,37.188667,Comedy|Drama,Britney Spears,Crossroads,34219,578.0,English,12.0,2002.0,3.3,0,25.188667
3017,Guy Ritchie,151.0,30.093107,Comedy|Crime,Jason Statham,Snatch,600996,726.0,English,6.0,2000.0,8.3,27000,24.093107
2533,Neil Burger,236.0,39.825798,Drama|Mystery|Romance|Thriller,Rufus Sewell,The Illusionist,295375,645.0,English,16.0,2006.0,7.6,15000,23.825798
2777,Stephen Frears,51.0,34.700000,Drama|Romance,Keanu Reeves,Dangerous Liaisons,52846,143.0,English,14.0,1988.0,7.7,0,20.700000
4182,Rob Zombie,220.0,33.386128,Horror,Scout Taylor-Compton,Halloween II,36372,491.0,English,15.0,2009.0,4.9,3000,18.386128
3064,Tim Blake Nelson,92.0,16.017403,Drama|Romance|Thriller,Mekhi Phifer,O,17333,153.0,English,5.0,2001.0,6.2,0,11.017403
2134,Frank Oz,168.0,8.579684,Comedy,Peter Dinklage,Death at a Funeral,89547,199.0,English,9.0,2007.0,7.4,0,-0.420316
2568,Vic Armstrong,169.0,13.998282,Action|Drama|Fantasy|Mystery|Thriller,Nicolas Cage,Left Behind,24854,374.0,English,16.0,2014.0,3.1,31000,-2.001718
1096,Albert Hughes,208.0,31.598308,Horror|Mystery|Thriller,Johnny Depp,From Hell,124765,541.0,English,35.0,2001.0,6.8,0,-3.401692
1962,Wes Craven,160.0,14.637490,Horror|Mystery|Thriller,Frank Grillo,My Soul to Take,16411,136.0,English,25.0,2010.0,4.8,0,-10.362510
2063,Andy Cadiff,65.0,12.189514,Comedy|Romance,Annabella Sciorra,Chasing Liberty,30092,129.0,English,23.0,2004.0,6.1,0,-10.810486
4313,Bruce McCulloch,52.0,13.973532,Comedy|Crime,Martin Starr,Stealing Harvard,11211,92.0,English,25.0,2002.0,5.1,215,-11.026468
2454,Kenneth Branagh,85.0,4.414535,Drama,Julie Christie,Hamlet,30618,224.0,English,18.0,1996.0,7.8,0,-13.585465
1697,Paul McGuigan,98.0,12.831121,Drama|Mystery|Romance|Thriller,Jessica ParÃ©,Wicker Park,44979,298.0,English,30.0,2004.0,7.0,0,-17.168879
2584,Danny Boyle,393.0,2.319187,Crime|Drama|Mystery|Thriller,Rosario Dawson,Trance,92640,212.0,English,20.0,2013.0,7.0,23000,-17.680813
3480,Michael Winterbottom,71.0,0.403932,Drama|Romance|Western,Milla Jovovich,The Claim,5254,92.0,English,20.0,2000.0,6.5,141,-19.596068
314,Brett Ratner,245.0,72.660029,Action|Adventure,Dwayne Johnson,Hercules,115687,269.0,English,100.0,2014.0,6.0,21000,-27.339971
1171,Yimou Zhang,283.0,0.084961,Action|Adventure|History,Jet Li,Hero,149414,841.0,Mandarin,31.0,2002.0,7.9,0,-30.915039
1146,Paul McGuigan,159.0,5.773519,Drama|Horror|Sci-Fi|Thriller,Daniel Radcliffe,Victor Frankenstein,28618,91.0,English,40.0,2015.0,6.0,11000,-34.226481
63,David Yates,248.0,124.051759,Action|Adventure|Drama|Romance,Christoph Waltz,The Legend of Tarzan,42372,239.0,English,180.0,2016.0,6.6,29000,-55.948241
389,Josh Trank,369.0,56.114221,Action|Adventure|Sci-Fi,Tim Blake Nelson,Fantastic Four,110486,695.0,English,120.0,2015.0,4.3,41000,-63.885779
2971,John Lee Hancock,106.0,22.406362,Drama|History|War|Western,Dennis Quaid,The Alamo,16832,267.0,English,107.0,2004.0,6.0,701,-84.593638
303,Joe Wright,256.0,34.964818,Adventure|Family|Fantasy,Hugh Jackman,Pan,39956,186.0,English,150.0,2015.0,5.8,24000,-115.035182

### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [33]:
# Write your code for dropping duplicate values here
movies.drop_duplicates(keep=False,inplace=True)

In [34]:
#checking again for the duplicate values -> this time it must not display any duplicate values
movies[movies.duplicated()]

Empty DataFrame
Columns: [director_name, num_critic_for_reviews, gross, genres, actor_1_name, movie_title, num_voted_users, num_user_for_reviews, language, budget, title_year, imdb_score, movie_facebook_likes, Profit]
Index: []

In [35]:
# code for repeating subtask 2 here

#creating Profit column
movies['Profit'] = movies['gross'] - movies['budget']

# sorting based on the Profit column
movies.sort_values('Profit', ascending=False, inplace=True)

#top 10 profiting movies here

top10 = movies.head(10)
top10

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit
0,James Cameron,723.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.0,2009.0,7.9,33000,523.505847
29,Colin Trevorrow,644.0,652.177271,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,150.0,2015.0,7.0,150000,502.177271
26,James Cameron,315.0,658.672302,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200.0,1997.0,7.7,26000,458.672302
3024,George Lucas,282.0,460.935665,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,11.0,1977.0,8.7,33000,449.935665
3080,Steven Spielberg,215.0,434.949459,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,10.5,1982.0,7.9,34000,424.449459
509,Roger Allers,186.0,422.783777,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,The Lion King,644348,656.0,English,45.0,1994.0,8.5,17000,377.783777
240,George Lucas,320.0,474.544677,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode I - The Phantom Menace,534658,3597.0,English,115.0,1999.0,6.5,13000,359.544677
66,Christopher Nolan,645.0,533.316061,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,185.0,2008.0,9.0,37000,348.316061
439,Gary Ross,673.0,407.999255,Adventure|Drama|Sci-Fi|Thriller,Jennifer Lawrence,The Hunger Games,701607,1959.0,English,78.0,2012.0,7.3,140000,329.999255
812,Tim Miller,579.0,363.024263,Action|Adventure|Comedy|Romance|Sci-Fi,Ryan Reynolds,Deadpool,479047,1058.0,English,58.0,2016.0,8.1,117000,305.024263

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [36]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'

#sort according to imdb_score
IMDb_Top_250 = movies.sort_values('imdb_score', ascending=False)

#filter according to num_voted_users>25000
IMDb_Top_250 = IMDb_Top_250.loc[(IMDb_Top_250.num_voted_users > 25000)]

#extract top 250 columns
IMDb_Top_250 = IMDb_Top_250.head(250)

#add Rank column
IMDb_Top_250['Rank'] = [x for x in range(1,251)]

IMDb_Top_250

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit,Rank
1937,Frank Darabont,199.0,28.341469,Crime|Drama,Morgan Freeman,The Shawshank Redemption,1689764,4144.0,English,25.0,1994.0,9.3,108000,3.341469,1
3466,Francis Ford Coppola,208.0,134.821952,Crime|Drama,Al Pacino,The Godfather,1155770,2238.0,English,6.0,1972.0,9.2,43000,128.821952,2
2837,Francis Ford Coppola,149.0,57.300000,Crime|Drama,Robert De Niro,The Godfather: Part II,790926,650.0,English,13.0,1974.0,9.0,14000,44.300000,3
66,Christopher Nolan,645.0,533.316061,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,185.0,2008.0,9.0,37000,348.316061,4
4498,Sergio Leone,181.0,6.100000,Western,Clint Eastwood,"The Good, the Bad and the Ugly",503509,780.0,Italian,1.2,1966.0,8.9,20000,4.900000,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1735,James Mangold,291.0,119.518352,Biography|Drama|Music|Romance,Sandra Ellis Lafferty,Walk the Line,188637,815.0,English,28.0,2005.0,7.9,11000,91.518352,246
927,Andrew Adamson,212.0,267.652016,Adventure|Animation|Comedy|Family|Fantasy,Kathleen Freeman,Shrek,467113,945.0,English,60.0,2001.0,7.9,0,207.652016,247
1606,Nick Cassavetes,177.0,0.064286,Drama|Romance,Ryan Gosling,The Notebook,396396,1111.0,English,29.0,2004.0,7.9,57000,-28.935714,248
525,Alfonso CuarÃ³n,372.0,35.286428,Drama|Sci-Fi|Thriller,Charlie Hunnam,Children of Men,361767,1206.0,English,76.0,2006.0,7.9,17000,-40.713572,249
353,John Lasseter,191.0,245.823397,Adventure|Animation|Comedy|Family|Fantasy,Tom Hanks,Toy Story 2,385871,515.0,English,90.0,1999.0,7.9,0,155.823397,250

In [37]:
#extract top foreign language films from 'IMDb_Top_250' here
Top_Foreign_Lang_Film = IMDb_Top_250.loc[(IMDb_Top_250.language != 'English')]
Top_Foreign_Lang_Film

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit,Rank
4498,Sergio Leone,181.0,6.100000,Western,Clint Eastwood,"The Good, the Bad and the Ugly",503509,780.0,Italian,1.200000,1966.0,8.9,20000,4.900000,5
4747,Akira Kurosawa,153.0,0.269061,Action|Adventure|Drama,Takashi Shimura,Seven Samurai,229012,596.0,Japanese,2.000000,1954.0,8.7,11000,-1.730939,17
4029,Fernando Meirelles,214.0,7.563397,Crime|Drama,Alice Braga,City of God,533200,749.0,Portuguese,3.300000,2002.0,8.7,28000,4.263397,18
2373,Hayao Miyazaki,246.0,10.049886,Adventure|Animation|Family|Fantasy,Bunta Sugawara,Spirited Away,417971,902.0,Japanese,19.000000,2001.0,8.6,28000,-8.950114,26
4921,Majid Majidi,46.0,0.925402,Drama|Family,Bahare Seddiqi,Children of Heaven,27882,130.0,Persian,0.180000,1997.0,8.5,0,0.745402,33
4259,Florian Henckel von Donnersmarck,215.0,11.284657,Drama|Thriller,Sebastian Koch,The Lives of Others,259379,407.0,German,2.000000,2006.0,8.5,39000,9.284657,34
1329,S.S. Rajamouli,44.0,6.498000,Action|Adventure|Drama|Fantasy|War,Tamannaah Bhatia,Baahubali: The Beginning,62756,410.0,Telugu,18.026148,2015.0,8.4,21000,-11.528148,54
2323,Hayao Miyazaki,174.0,2.298191,Adventure|Animation|Fantasy,Minnie Driver,Princess Mononoke,221552,570.0,Japanese,2400.000000,1997.0,8.4,11000,-2397.701809,55
1298,Jean-Pierre Jeunet,242.0,33.201661,Comedy|Romance,Mathieu Kassovitz,AmÃ©lie,534262,1314.0,French,77.000000,2001.0,8.4,39000,-43.798339,56
4659,Asghar Farhadi,354.0,7.098492,Drama|Mystery,Shahab Hosseini,A Separation,151812,264.0,Persian,0.500000,2011.0,8.4,48000,6.598492,58
4105,Chan-wook Park,305.0,2.181290,Drama|Mystery|Thriller,Min-sik Choi,Oldboy,356181,809.0,Korean,3.000000,2003.0,8.4,43000,-0.818710,60
2970,Wolfgang Petersen,96.0,11.433134,Adventure|Drama|Thriller|War,JÃ¼rgen Prochnow,Das Boot,168203,426.0,German,14.000000,1981.0,8.4,11000,-2.566866,61
4033,Thomas Vinterberg,349.0,0.610968,Drama,Thomas Bo Larsen,The Hunt,170155,249.0,Danish,3.800000,2012.0,8.3,60000,-3.189032,71
2829,Oliver Hirschbiegel,192.0,5.501940,Biography|Drama|History|War,Thomas Kretschmann,Downfall,248354,564.0,German,13.500000,2004.0,8.3,14000,-7.998060,82
2734,Fritz Lang,260.0,0.026435,Drama|Sci-Fi,Brigitte Helm,Metropolis,111841,413.0,German,6.000000,1927.0,8.3,12000,-5.973565,83
4000,Juan JosÃ© Campanella,262.0,20.167424,Drama|Mystery|Thriller,Ricardo DarÃ­n,The Secret in Their Eyes,131831,231.0,Spanish,2.000000,2009.0,8.2,33000,18.167424,84
3550,Denis Villeneuve,226.0,6.857096,Drama|Mystery|War,Lubna Azabal,Incendies,80429,156.0,French,6.800000,2010.0,8.2,37000,0.057096,89
2047,Hayao Miyazaki,212.0,4.710455,Adventure|Animation|Family|Fantasy,Christian Bale,Howl's Moving Castle,214091,330.0,Japanese,24.000000,2004.0,8.2,13000,-19.289545,100
2551,Guillermo del Toro,406.0,37.623143,Drama|Fantasy|War,Ivana Baquero,Pan's Labyrinth,467234,1083.0,Spanish,13.500000,2006.0,8.2,27000,24.123143,104
3553,JosÃ© Padilha,142.0,0.008060,Action|Crime|Drama|Thriller,Wagner Moura,Elite Squad,81644,107.0,Portuguese,4.000000,2007.0,8.1,11000,-3.991940,114
2914,Je-kyu Kang,86.0,1.110186,Action|Drama|War,Min-sik Choi,Tae Guk Gi: The Brotherhood of War,31943,224.0,Korean,12.800000,2004.0,8.1,0,-11.689814,118
2830,Alejandro AmenÃ¡bar,157.0,2.086345,Biography|Drama|Romance,BelÃ©n Rueda,The Sea Inside,64556,140.0,Spanish,10.000000,2004.0,8.1,0,-7.913655,127
4461,Thomas Vinterberg,98.0,1.647780,Drama,Ulrich Thomsen,The Celebration,65951,258.0,Danish,1.300000,1998.0,8.1,5000,0.347780,137
3423,Katsuhiro Ã”tomo,150.0,0.439162,Action|Animation|Sci-Fi,Mitsuo Iwata,Akira,106160,430.0,Japanese,1100.000000,1988.0,8.1,0,-1099.560838,138
4267,Alejandro G. IÃ±Ã¡rritu,157.0,5.383834,Drama|Thriller,Adriana Barraza,Amores Perros,173551,361.0,Spanish,2.000000,2000.0,8.1,11000,3.383834,145
3344,Karan Johar,210.0,4.018695,Adventure|Drama|Thriller,Shah Rukh Khan,My Name Is Khan,69759,235.0,Hindi,12.000000,2010.0,8.0,27000,-7.981305,154
4144,Walter Salles,71.0,5.595428,Drama,Fernanda Montenegro,Central Station,28951,257.0,Portuguese,2.900000,1998.0,8.0,0,2.695428,181
3456,Vincent Paronnaud,242.0,4.443403,Animation|Biography|Drama|War,Catherine Deneuve,Persepolis,70194,158.0,French,7.300000,2007.0,8.0,14000,-2.856597,182
4284,Ari Folman,231.0,2.283276,Animation|Biography|Documentary|Drama|History|War,Ari Folman,Waltz with Bashir,46107,156.0,Hebrew,1.500000,2008.0,8.0,0,0.783276,183
4897,Sergio Leone,122.0,3.500000,Action|Drama|Western,Clint Eastwood,A Fistful of Dollars,147566,235.0,Italian,0.200000,1964.0,8.0,0,3.300000,200
3677,Christophe Barratier,112.0,3.629758,Drama|Music,Jean-Baptiste Maunier,The Chorus,44151,110.0,French,5.500000,2004.0,7.9,0,-1.870242,211
4640,Cristian Mungiu,233.0,1.185783,Drama,Anamaria Marinca,"4 Months, 3 Weeks and 2 Days",44763,172.0,Romanian,0.590000,2007.0,7.9,14000,0.595783,214
4415,FabiÃ¡n Bielinsky,94.0,1.221261,Crime|Drama|Thriller,Ricardo DarÃ­n,Nine Queens,38215,125.0,Spanish,1.500000,2000.0,7.9,0,-0.278739,215
3510,Yash Chopra,29.0,2.921738,Drama|Musical|Romance,Shah Rukh Khan,Veer-Zaara,34449,119.0,Hindi,7.000000,2004.0,7.9,2000,-4.078262,223
3264,Michael Haneke,447.0,0.225377,Drama|Romance,Isabelle Huppert,Amour,70382,190.0,French,8.900000,2012.0,7.9,33000,-8.674623,224
2863,Clint Eastwood,251.0,13.753931,Drama|History|War,Yuki Matsuzaki,Letters from Iwo Jima,132149,316.0,Japanese,19.000000,2006.0,7.9,5000,-5.246069,234
2605,Ang Lee,287.0,128.067808,Action|Drama|Romance,Chen Chang,"Crouching Tiger, Hidden Dragon",217740,1641.0,Mandarin,15.000000,2000.0,7.9,0,113.067808,238

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [38]:
# code for extracting the top 10 directors here
movies_gb_object = movies.groupby('director_name')
topdirectors = pd.DataFrame(movies_gb_object['imdb_score'].mean())
topdirectors.sort_values('imdb_score', ascending=False, inplace=True)
top10director = topdirectors.head(10)
top10director

                       imdb_score
director_name
Charles Chaplin          8.600000
Tony Kaye                8.600000
Majid Majidi             8.500000
Ron Fricke               8.500000
Damien Chazelle          8.500000
Alfred Hitchcock         8.500000
Sergio Leone             8.433333
Christopher Nolan        8.425000
S.S. Rajamouli           8.400000
Marius A. Markevicius    8.400000

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [39]:
# code for extracting the first two genres of each movie here

g = movies['genres'].apply(lambda y: pd.Series(y.split('|')))

#Group the dataframe using genre_1 as the primary column and genre_2 as the secondary column.
movies['genre_1'] = g[0]
movies['genre_2'] = g[1]

#Some of the movies might have only one genre. In such cases, extract the single genre into both the columns
movies.loc[pd.isnull(movies['genre_2']), ['genre_2']] = movies['genre_1']

In [40]:
movies['genre_1']

0          Action
29         Action
26          Drama
3024       Action
3080       Family
          ...
2334       Action
2323    Adventure
3005        Drama
3859        Crime
2988       Comedy
Name: genre_1, Length: 3821, dtype: object

In [41]:
movies['genre_2']

0       Adventure
29      Adventure
26        Romance
3024    Adventure
3080       Sci-Fi
          ...
2334    Adventure
2323    Animation
3005      Romance
3859        Drama
2988        Drama
Name: genre_2, Length: 3821, dtype: object

In [42]:
#group data using genre_1 as primary column genre_2 as secondary column

movies_by_segment = movies.groupby(['genre_1','genre_2'])

print(movies_by_segment)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x115229eb0>

In [43]:
# code for getting the 5 most popular combo of genres here

PopGenre = movies_by_segment['gross'].mean()
PopGenre = PopGenre.sort_values(ascending = False)
PopGenre = PopGenre.head(5)
PopGenre

genre_1    genre_2
Family     Sci-Fi       434.949459
Adventure  Sci-Fi       228.627758
           Family       121.463622
           Animation    116.998550
Action     Adventure    108.789045
Name: gross, dtype: float64

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [44]:
# code for creating three new dataframes here
# Include all movies in which Meryl_Streep is the lead

Meryl_Streep = movies.loc[(movies.actor_1_name == 'Meryl Streep')]
Meryl_Streep

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit,genre_1,genre_2
1408,David Frankel,208.0,124.732962,Comedy|Drama|Romance,Meryl Streep,The Devil Wears Prada,286178,631.0,English,35.0,2006.0,6.8,0,89.732962,Comedy,Drama
1575,Sydney Pollack,66.0,87.100000,Biography|Drama|Romance,Meryl Streep,Out of Africa,52339,200.0,English,31.0,1985.0,7.2,0,56.100000,Biography,Drama
1204,Nora Ephron,252.0,94.125426,Biography|Drama|Romance,Meryl Streep,Julie & Julia,79264,277.0,English,40.0,2009.0,7.0,13000,54.125426,Biography,Drama
1618,David Frankel,234.0,63.536011,Comedy|Drama|Romance,Meryl Streep,Hope Springs,34258,178.0,English,30.0,2012.0,6.3,0,33.536011,Comedy,Drama
410,Nancy Meyers,187.0,112.703470,Comedy|Drama|Romance,Meryl Streep,It's Complicated,69860,214.0,English,85.0,2009.0,6.6,0,27.703470,Comedy,Drama
2781,Phyllida Lloyd,331.0,29.959436,Biography|Drama|History,Meryl Streep,The Iron Lady,82327,350.0,English,13.0,2011.0,6.4,18000,16.959436,Biography,Drama
1925,Stephen Daldry,174.0,41.597830,Drama|Romance,Meryl Streep,The Hours,102123,660.0,English,25.0,2002.0,7.6,0,16.597830,Drama,Romance
3135,Robert Altman,211.0,20.338609,Comedy|Drama|Music,Meryl Streep,A Prairie Home Companion,19655,280.0,English,10.0,2006.0,6.8,683,10.338609,Comedy,Drama
1106,Curtis Hanson,42.0,46.815748,Action|Adventure|Crime|Thriller,Meryl Streep,The River Wild,32544,69.0,English,45.0,1994.0,6.3,0,1.815748,Action,Adventure
1674,Carl Franklin,64.0,23.209440,Drama,Meryl Streep,One True Thing,9283,112.0,English,30.0,1998.0,7.0,592,-6.790560,Drama,Drama
1483,Robert Redford,227.0,14.998070,Drama|Thriller|War,Meryl Streep,Lions for Lambs,41170,298.0,English,35.0,2007.0,6.2,0,-20.001930,Drama,Thriller

In [45]:
# Include all movies in which Leo_Caprio is the lead
Leo_Caprio = movies.loc[(movies.actor_1_name == 'Leonardo DiCaprio')]
Leo_Caprio

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit,genre_1,genre_2
26,James Cameron,315.0,658.672302,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200.0,1997.0,7.7,26000,458.672302,Drama,Romance
97,Christopher Nolan,642.0,292.568851,Action|Adventure|Sci-Fi|Thriller,Leonardo DiCaprio,Inception,1468200,2803.0,English,160.0,2010.0,8.8,175000,132.568851,Action,Adventure
911,Steven Spielberg,194.0,164.435221,Biography|Crime|Drama,Leonardo DiCaprio,Catch Me If You Can,525801,667.0,English,52.0,2002.0,8.0,15000,112.435221,Biography,Crime
296,Quentin Tarantino,765.0,162.804648,Drama|Western,Leonardo DiCaprio,Django Unchained,955174,1193.0,English,100.0,2012.0,8.5,199000,62.804648,Drama,Western
179,Alejandro G. IÃ±Ã¡rritu,556.0,183.635922,Adventure|Drama|Thriller|Western,Leonardo DiCaprio,The Revenant,406020,1188.0,English,135.0,2015.0,8.1,190000,48.635922,Adventure,Drama
452,Martin Scorsese,490.0,127.968405,Mystery|Thriller,Leonardo DiCaprio,Shutter Island,786092,964.0,English,80.0,2010.0,8.1,53000,47.968405,Mystery,Thriller
361,Martin Scorsese,352.0,132.373442,Crime|Drama|Thriller,Leonardo DiCaprio,The Departed,873649,2054.0,English,90.0,2006.0,8.5,29000,42.373442,Crime,Drama
50,Baz Luhrmann,490.0,144.812796,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362912,753.0,English,105.0,2013.0,7.3,115000,39.812796,Drama,Romance
3476,Baz Luhrmann,490.0,144.812796,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362933,753.0,English,105.0,2013.0,7.3,115000,39.812796,Drama,Romance
2757,Baz Luhrmann,106.0,46.338728,Drama|Romance,Leonardo DiCaprio,Romeo + Juliet,167750,506.0,English,14.5,1996.0,6.8,10000,31.838728,Drama,Romance
1422,Randall Wallace,83.0,56.876365,Action|Adventure,Leonardo DiCaprio,The Man in the Iron Mask,125219,244.0,English,35.0,1998.0,6.4,0,21.876365,Action,Adventure
308,Martin Scorsese,606.0,116.866727,Biography|Comedy|Crime|Drama,Leonardo DiCaprio,The Wolf of Wall Street,780588,1138.0,English,100.0,2013.0,8.2,138000,16.866727,Biography,Comedy
1453,Clint Eastwood,392.0,37.304950,Biography|Crime|Drama,Leonardo DiCaprio,J. Edgar,102728,279.0,English,35.0,2011.0,6.6,16000,2.304950,Biography,Crime
257,Martin Scorsese,267.0,102.608827,Biography|Drama,Leonardo DiCaprio,The Aviator,264318,799.0,English,110.0,2004.0,7.5,0,-7.391173,Biography,Drama
2067,Jerry Zaks,45.0,12.782508,Drama,Leonardo DiCaprio,Marvin's Room,20163,71.0,English,23.0,1996.0,6.7,1000,-10.217492,Drama,Drama
990,Danny Boyle,118.0,39.778599,Adventure|Drama|Thriller,Leonardo DiCaprio,The Beach,176169,548.0,English,50.0,2000.0,6.6,0,-10.221401,Adventure,Drama
1114,Sam Mendes,323.0,22.877808,Drama|Romance,Leonardo DiCaprio,Revolutionary Road,152591,414.0,English,35.0,2008.0,7.3,0,-12.122192,Drama,Romance
1560,Sam Raimi,63.0,18.636537,Action|Thriller|Western,Leonardo DiCaprio,The Quick and the Dead,69197,216.0,English,32.0,1995.0,6.4,0,-13.363463,Action,Thriller
326,Martin Scorsese,233.0,77.679638,Crime|Drama,Leonardo DiCaprio,Gangs of New York,314033,1166.0,English,100.0,2002.0,7.5,0,-22.320362,Crime,Drama
641,Ridley Scott,238.0,39.380442,Action|Drama|Thriller,Leonardo DiCaprio,Body of Lies,174248,263.0,English,70.0,2008.0,7.1,0,-30.619558,Action,Drama
307,Edward Zwick,166.0,57.366262,Adventure|Drama|Thriller,Leonardo DiCaprio,Blood Diamond,400292,657.0,English,100.0,2006.0,8.0,14000,-42.633738,Adventure,Drama

In [46]:
# Include all movies in which Brad_Pitt is the lead

Brad_Pitt =  movies.loc[(movies.actor_1_name == 'Brad Pitt')]
Brad_Pitt

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit,genre_1,genre_2
400,Steven Soderbergh,186.0,183.405771,Crime|Thriller,Brad Pitt,Ocean's Eleven,402645,845.0,English,85.0,2001.0,7.8,0,98.405771,Crime,Thriller
255,Doug Liman,233.0,186.336103,Action|Comedy|Crime|Romance|Thriller,Brad Pitt,Mr. & Mrs. Smith,348861,798.0,English,120.0,2005.0,6.5,0,66.336103,Action,Comedy
940,Neil Jordan,120.0,105.264608,Drama|Fantasy|Horror,Brad Pitt,Interview with the Vampire: The Vampire Chroni...,239752,406.0,English,60.0,1994.0,7.6,11000,45.264608,Drama,Fantasy
470,David Ayer,406.0,85.707116,Action|Drama|War,Brad Pitt,Fury,303185,701.0,English,68.0,2014.0,7.6,82000,17.707116,Action,Drama
254,Steven Soderbergh,198.0,125.531634,Crime|Thriller,Brad Pitt,Ocean's Twelve,284852,627.0,English,110.0,2004.0,6.4,0,15.531634,Crime,Thriller
2204,Alejandro G. IÃ±Ã¡rritu,285.0,34.300771,Drama,Brad Pitt,Babel,243799,908.0,English,25.0,2006.0,7.5,0,9.300771,Drama,Drama
2682,Andrew Dominik,414.0,14.938570,Crime|Thriller,Brad Pitt,Killing Them Softly,111625,369.0,English,15.0,2012.0,6.2,20000,-0.061430,Crime,Thriller
2898,Tony Scott,122.0,12.281500,Action|Crime|Drama|Romance|Thriller,Brad Pitt,True Romance,163492,460.0,English,13.0,1993.0,8.0,15000,-0.718500,Action,Crime
2333,Angelina Jolie Pitt,131.0,0.531009,Drama|Romance,Brad Pitt,By the Sea,7976,61.0,English,10.0,2015.0,5.3,0,-9.468991,Drama,Romance
1490,Terrence Malick,584.0,13.303319,Drama|Fantasy,Brad Pitt,The Tree of Life,136367,975.0,English,32.0,2011.0,6.7,39000,-18.696681,Drama,Fantasy
101,David Fincher,362.0,127.490802,Drama|Fantasy|Romance,Brad Pitt,The Curious Case of Benjamin Button,459346,822.0,English,150.0,2008.0,7.8,23000,-22.509198,Drama,Fantasy
683,David Fincher,315.0,37.023395,Drama,Brad Pitt,Fight Club,1347461,2968.0,English,63.0,1999.0,8.8,48000,-25.976605,Drama,Drama
1722,Andrew Dominik,273.0,3.904982,Biography|Crime|Drama|History|Western,Brad Pitt,The Assassination of Jesse James by the Coward...,136104,415.0,English,30.0,2007.0,7.5,0,-26.095018,Biography,Crime
611,Jean-Jacques Annaud,76.0,37.901509,Adventure|Biography|Drama|History|War,Brad Pitt,Seven Years in Tibet,96385,119.0,English,70.0,1997.0,7.0,0,-32.098491,Adventure,Biography
792,Patrick Gilmore,98.0,26.288320,Adventure|Animation|Comedy|Drama|Family|Fantas...,Brad Pitt,Sinbad: Legend of the Seven Seas,36144,91.0,English,60.0,2003.0,6.7,880,-33.711680,Adventure,Animation
147,Wolfgang Petersen,220.0,133.228348,Adventure,Brad Pitt,Troy,381672,1694.0,English,175.0,2004.0,7.2,0,-41.771652,Adventure,Adventure
382,Tony Scott,142.0,0.026871,Action|Crime|Thriller,Brad Pitt,Spy Game,121259,361.0,English,92.0,2001.0,7.0,0,-91.973129,Action,Crime

In [47]:
# code for combining the three dataframes here
a1 = Meryl_Streep.append(Leo_Caprio)
Combined = a1.append(Brad_Pitt)
Combined

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit,genre_1,genre_2
1408,David Frankel,208.0,124.732962,Comedy|Drama|Romance,Meryl Streep,The Devil Wears Prada,286178,631.0,English,35.0,2006.0,6.8,0,89.732962,Comedy,Drama
1575,Sydney Pollack,66.0,87.100000,Biography|Drama|Romance,Meryl Streep,Out of Africa,52339,200.0,English,31.0,1985.0,7.2,0,56.100000,Biography,Drama
1204,Nora Ephron,252.0,94.125426,Biography|Drama|Romance,Meryl Streep,Julie & Julia,79264,277.0,English,40.0,2009.0,7.0,13000,54.125426,Biography,Drama
1618,David Frankel,234.0,63.536011,Comedy|Drama|Romance,Meryl Streep,Hope Springs,34258,178.0,English,30.0,2012.0,6.3,0,33.536011,Comedy,Drama
410,Nancy Meyers,187.0,112.703470,Comedy|Drama|Romance,Meryl Streep,It's Complicated,69860,214.0,English,85.0,2009.0,6.6,0,27.703470,Comedy,Drama
2781,Phyllida Lloyd,331.0,29.959436,Biography|Drama|History,Meryl Streep,The Iron Lady,82327,350.0,English,13.0,2011.0,6.4,18000,16.959436,Biography,Drama
1925,Stephen Daldry,174.0,41.597830,Drama|Romance,Meryl Streep,The Hours,102123,660.0,English,25.0,2002.0,7.6,0,16.597830,Drama,Romance
3135,Robert Altman,211.0,20.338609,Comedy|Drama|Music,Meryl Streep,A Prairie Home Companion,19655,280.0,English,10.0,2006.0,6.8,683,10.338609,Comedy,Drama
1106,Curtis Hanson,42.0,46.815748,Action|Adventure|Crime|Thriller,Meryl Streep,The River Wild,32544,69.0,English,45.0,1994.0,6.3,0,1.815748,Action,Adventure
1674,Carl Franklin,64.0,23.209440,Drama,Meryl Streep,One True Thing,9283,112.0,English,30.0,1998.0,7.0,592,-6.790560,Drama,Drama
1483,Robert Redford,227.0,14.998070,Drama|Thriller|War,Meryl Streep,Lions for Lambs,41170,298.0,English,35.0,2007.0,6.2,0,-20.001930,Drama,Thriller
26,James Cameron,315.0,658.672302,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200.0,1997.0,7.7,26000,458.672302,Drama,Romance
97,Christopher Nolan,642.0,292.568851,Action|Adventure|Sci-Fi|Thriller,Leonardo DiCaprio,Inception,1468200,2803.0,English,160.0,2010.0,8.8,175000,132.568851,Action,Adventure
911,Steven Spielberg,194.0,164.435221,Biography|Crime|Drama,Leonardo DiCaprio,Catch Me If You Can,525801,667.0,English,52.0,2002.0,8.0,15000,112.435221,Biography,Crime
296,Quentin Tarantino,765.0,162.804648,Drama|Western,Leonardo DiCaprio,Django Unchained,955174,1193.0,English,100.0,2012.0,8.5,199000,62.804648,Drama,Western
179,Alejandro G. IÃ±Ã¡rritu,556.0,183.635922,Adventure|Drama|Thriller|Western,Leonardo DiCaprio,The Revenant,406020,1188.0,English,135.0,2015.0,8.1,190000,48.635922,Adventure,Drama
452,Martin Scorsese,490.0,127.968405,Mystery|Thriller,Leonardo DiCaprio,Shutter Island,786092,964.0,English,80.0,2010.0,8.1,53000,47.968405,Mystery,Thriller
361,Martin Scorsese,352.0,132.373442,Crime|Drama|Thriller,Leonardo DiCaprio,The Departed,873649,2054.0,English,90.0,2006.0,8.5,29000,42.373442,Crime,Drama
50,Baz Luhrmann,490.0,144.812796,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362912,753.0,English,105.0,2013.0,7.3,115000,39.812796,Drama,Romance
3476,Baz Luhrmann,490.0,144.812796,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362933,753.0,English,105.0,2013.0,7.3,115000,39.812796,Drama,Romance
2757,Baz Luhrmann,106.0,46.338728,Drama|Romance,Leonardo DiCaprio,Romeo + Juliet,167750,506.0,English,14.5,1996.0,6.8,10000,31.838728,Drama,Romance
1422,Randall Wallace,83.0,56.876365,Action|Adventure,Leonardo DiCaprio,The Man in the Iron Mask,125219,244.0,English,35.0,1998.0,6.4,0,21.876365,Action,Adventure
308,Martin Scorsese,606.0,116.866727,Biography|Comedy|Crime|Drama,Leonardo DiCaprio,The Wolf of Wall Street,780588,1138.0,English,100.0,2013.0,8.2,138000,16.866727,Biography,Comedy
1453,Clint Eastwood,392.0,37.304950,Biography|Crime|Drama,Leonardo DiCaprio,J. Edgar,102728,279.0,English,35.0,2011.0,6.6,16000,2.304950,Biography,Crime
257,Martin Scorsese,267.0,102.608827,Biography|Drama,Leonardo DiCaprio,The Aviator,264318,799.0,English,110.0,2004.0,7.5,0,-7.391173,Biography,Drama
2067,Jerry Zaks,45.0,12.782508,Drama,Leonardo DiCaprio,Marvin's Room,20163,71.0,English,23.0,1996.0,6.7,1000,-10.217492,Drama,Drama
990,Danny Boyle,118.0,39.778599,Adventure|Drama|Thriller,Leonardo DiCaprio,The Beach,176169,548.0,English,50.0,2000.0,6.6,0,-10.221401,Adventure,Drama
1114,Sam Mendes,323.0,22.877808,Drama|Romance,Leonardo DiCaprio,Revolutionary Road,152591,414.0,English,35.0,2008.0,7.3,0,-12.122192,Drama,Romance
1560,Sam Raimi,63.0,18.636537,Action|Thriller|Western,Leonardo DiCaprio,The Quick and the Dead,69197,216.0,English,32.0,1995.0,6.4,0,-13.363463,Action,Thriller
326,Martin Scorsese,233.0,77.679638,Crime|Drama,Leonardo DiCaprio,Gangs of New York,314033,1166.0,English,100.0,2002.0,7.5,0,-22.320362,Crime,Drama
641,Ridley Scott,238.0,39.380442,Action|Drama|Thriller,Leonardo DiCaprio,Body of Lies,174248,263.0,English,70.0,2008.0,7.1,0,-30.619558,Action,Drama
307,Edward Zwick,166.0,57.366262,Adventure|Drama|Thriller,Leonardo DiCaprio,Blood Diamond,400292,657.0,English,100.0,2006.0,8.0,14000,-42.633738,Adventure,Drama
400,Steven Soderbergh,186.0,183.405771,Crime|Thriller,Brad Pitt,Ocean's Eleven,402645,845.0,English,85.0,2001.0,7.8,0,98.405771,Crime,Thriller
255,Doug Liman,233.0,186.336103,Action|Comedy|Crime|Romance|Thriller,Brad Pitt,Mr. & Mrs. Smith,348861,798.0,English,120.0,2005.0,6.5,0,66.336103,Action,Comedy
940,Neil Jordan,120.0,105.264608,Drama|Fantasy|Horror,Brad Pitt,Interview with the Vampire: The Vampire Chroni...,239752,406.0,English,60.0,1994.0,7.6,11000,45.264608,Drama,Fantasy
470,David Ayer,406.0,85.707116,Action|Drama|War,Brad Pitt,Fury,303185,701.0,English,68.0,2014.0,7.6,82000,17.707116,Action,Drama
254,Steven Soderbergh,198.0,125.531634,Crime|Thriller,Brad Pitt,Ocean's Twelve,284852,627.0,English,110.0,2004.0,6.4,0,15.531634,Crime,Thriller
2204,Alejandro G. IÃ±Ã¡rritu,285.0,34.300771,Drama,Brad Pitt,Babel,243799,908.0,English,25.0,2006.0,7.5,0,9.300771,Drama,Drama
2682,Andrew Dominik,414.0,14.938570,Crime|Thriller,Brad Pitt,Killing Them Softly,111625,369.0,English,15.0,2012.0,6.2,20000,-0.061430,Crime,Thriller
2898,Tony Scott,122.0,12.281500,Action|Crime|Drama|Romance|Thriller,Brad Pitt,True Romance,163492,460.0,English,13.0,1993.0,8.0,15000,-0.718500,Action,Crime
2333,Angelina Jolie Pitt,131.0,0.531009,Drama|Romance,Brad Pitt,By the Sea,7976,61.0,English,10.0,2015.0,5.3,0,-9.468991,Drama,Romance
1490,Terrence Malick,584.0,13.303319,Drama|Fantasy,Brad Pitt,The Tree of Life,136367,975.0,English,32.0,2011.0,6.7,39000,-18.696681,Drama,Fantasy
101,David Fincher,362.0,127.490802,Drama|Fantasy|Romance,Brad Pitt,The Curious Case of Benjamin Button,459346,822.0,English,150.0,2008.0,7.8,23000,-22.509198,Drama,Fantasy
683,David Fincher,315.0,37.023395,Drama,Brad Pitt,Fight Club,1347461,2968.0,English,63.0,1999.0,8.8,48000,-25.976605,Drama,Drama
1722,Andrew Dominik,273.0,3.904982,Biography|Crime|Drama|History|Western,Brad Pitt,The Assassination of Jesse James by the Coward...,136104,415.0,English,30.0,2007.0,7.5,0,-26.095018,Biography,Crime
611,Jean-Jacques Annaud,76.0,37.901509,Adventure|Biography|Drama|History|War,Brad Pitt,Seven Years in Tibet,96385,119.0,English,70.0,1997.0,7.0,0,-32.098491,Adventure,Biography
792,Patrick Gilmore,98.0,26.288320,Adventure|Animation|Comedy|Drama|Family|Fantas...,Brad Pitt,Sinbad: Legend of the Seven Seas,36144,91.0,English,60.0,2003.0,6.7,880,-33.711680,Adventure,Animation
147,Wolfgang Petersen,220.0,133.228348,Adventure,Brad Pitt,Troy,381672,1694.0,English,175.0,2004.0,7.2,0,-41.771652,Adventure,Adventure
382,Tony Scott,142.0,0.026871,Action|Crime|Thriller,Brad Pitt,Spy Game,121259,361.0,English,92.0,2001.0,7.0,0,-91.973129,Action,Crime

In [48]:
#code for grouping the combined dataframe here
#Group the combined dataframe using the actor_1_name column.

grp = Combined.groupby(['actor_1_name'])

In [49]:
#code for finding the mean of critic reviews and audience reviews here
#Find the mean of the num_critic_for_reviews and num_user_for_reviews and identify the 
#actors which have the highest mean


meanOfActors = grp[['num_critic_for_reviews','num_user_for_reviews']].mean()
meanOfActors = meanOfActors.sort_values(['num_critic_for_reviews','num_user_for_reviews'], ascending=[False,False])
meanOfActors

                   num_critic_for_reviews  num_user_for_reviews
actor_1_name
Leonardo DiCaprio              330.190476            914.476190
Brad Pitt                      245.000000            742.352941
Meryl Streep                   181.454545            297.181818

**Checkpoint 6:** `Leonardo` has aced both the lists!